openapi: 3.2.0
info:
  title: SocialCrawl Tiktokshop API
  version: 1.0.0
  description: 'Unified social media data API - one API key, one consistent response format, 50 platforms, 400 endpoints. Power AI agents with clean social data.


    Slim variant: inline examples removed and the shared error responses hoisted into components. The full annotated spec is at https://www.socialcrawl.dev/openapi.json.'
  contact:
    name: SocialCrawl
    url: https://www.socialcrawl.dev
    email: support@socialcrawl.dev
servers:
- url: https://www.socialcrawl.dev/v1
  description: Production
security:
- ApiKeyAuth: []
tags:
- name: tiktokshop
  description: Tiktokshop endpoints
paths:
  /tiktokshop/product:
    get:
      summary: Get TikTok Shop product details
      description: 'Returns detailed information about a TikTok Shop product including price, rating, review count, seller info, and images. Region note: the upstream currently serves product lookups from the US only, so listings visible exclusively in other regional markets (for example a GB-only listing) resolve as 404. Regional coverage is available on tiktokshop/search, tiktokshop/products, and tiktokshop/product/reviews.'
      tags:
      - tiktokshop
      operationId: get_tiktokshop_product
      security:
      - ApiKeyAuth: []
      x-credit-tier: standard
      x-credit-cost: 1
      parameters:
      - name: url
        in: query
        required: true
        description: Full URL of the TikTok Shop product page
        schema:
          type: string
      - name: region
        in: query
        required: false
        description: Region the lookup is served from. Currently US only (an upstream limitation; other regions are rejected before billing). Support for more regions is planned upstream but has no date.
        schema:
          type: string
          enum:
          - US
      - name: Cache-Control
        in: header
        required: false
        description: Send `no-cache` to bypass the response cache and force a live fetch. Billed at the normal endpoint cost; the fresh result is written back to cache for the next caller. Only the `no-cache` directive triggers this. See the Response Schema guide for details.
        schema:
          type: string
      - name: Idempotency-Key
        in: header
        required: false
        description: 'Optional UUID that makes the request safely retriable. A replay keeps the cached payload immutable except for billing metadata: `credits_used` becomes 0, `idempotent_replay` becomes true, and `credits_remaining` is refreshed to the current balance. A known current balance appears in both the body and `X-Credits-Remaining` header; no balance row resolves to 0. On a transient lookup failure, body `credits_remaining` is null and `X-Credits-Remaining` is omitted. Scoped per account with a 24-hour TTL.'
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          headers:
            X-Credits-Used:
              description: Net credits charged for this response. Idempotency replays report 0.
              schema:
                type: integer
                minimum: 0
            X-Credits-Remaining:
              description: Current balance when known. On an idempotency replay, this header is omitted when the balance lookup fails; body `credits_remaining` is null instead.
              schema:
                type: integer
                minimum: 0
            X-Idempotent-Replay:
              description: Present with value `true` only when this response replays a settled idempotency record.
              schema:
                type: string
                enum:
                - 'true'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Whether the request succeeded
                  platform:
                    type: string
                    description: Platform name
                  endpoint:
                    type: string
                    description: API endpoint path
                  data:
                    type: object
                    description: Platform-specific response data
                    properties:
                      id:
                        type: string
                        description: Platform product ID (Amazon ASIN / Google Shopping product id)
                      url:
                        type:
                        - string
                        - 'null'
                        description: Direct URL to the product page
                      title:
                        type:
                        - string
                        - 'null'
                        description: Product title
                      description:
                        type:
                        - string
                        - 'null'
                        description: String at product.description
                      seller:
                        type:
                        - string
                        - 'null'
                        description: String at product.seller
                      brand:
                        type:
                        - string
                        - 'null'
                        description: Brand name (cleaned). Null when the platform exposes a seller instead.
                      price:
                        type: object
                        description: Price block (current, original/list, currency)
                        properties:
                          current:
                            type:
                            - integer
                            - 'null'
                            description: Numeric at product.price.current
                          original:
                            type:
                            - integer
                            - 'null'
                            description: Numeric at product.price.original
                          currency:
                            type:
                            - string
                            - 'null'
                            description: String at product.price.currency
                      rating:
                        type: object
                        description: Aggregate rating (average + number of ratings)
                        properties:
                          average:
                            type:
                            - integer
                            - 'null'
                            description: Numeric at product.rating.average
                          count:
                            type:
                            - integer
                            - 'null'
                            description: Numeric at product.rating.count
                      image_urls:
                        type:
                        - string
                        - array
                        - 'null'
                        description: Primary image URL, or an array of image URLs for products with a gallery.
                        items:
                          type: string
                          description: Primary image URL, or an array of image URLs for products with a gallery.
                      availability:
                        type:
                        - string
                        - 'null'
                        description: Stock/availability string when surfaced
                      reviews_count:
                        type:
                        - integer
                        - 'null'
                        description: Numeric at product.reviews_count
                      features:
                        type:
                        - array
                        - 'null'
                        description: Array at product.features
                        items:
                          type: string
                          description: String at product.features
                      specifications:
                        type:
                        - array
                        - 'null'
                        description: Array at product.specifications
                        items:
                          type: object
                          description: 'Nested object: product.specifications'
                          properties:
                            group:
                              type:
                              - string
                              - 'null'
                              description: String at product.specifications.group
                            name:
                              type:
                              - string
                              - 'null'
                              description: String at product.specifications.name
                            value:
                              type:
                              - string
                              - 'null'
                              description: String at product.specifications.value
                      variations:
                        type:
                        - array
                        - 'null'
                        description: Array at product.variations
                        items:
                          type: object
                          description: 'Nested object: product.variations'
                          properties:
                            id:
                              type:
                              - string
                              - 'null'
                              description: String at product.variations.id
                            title:
                              type:
                              - string
                              - 'null'
                              description: String at product.variations.title
                            url:
                              type:
                              - string
                              - 'null'
                              description: String at product.variations.url
                            category:
                              type:
                              - string
                              - 'null'
                              description: String at product.variations.category
                      ext:
                        type:
                        - object
                        - 'null'
                        description: 'Nested object: product.ext'
                        properties:
                          gid:
                            type:
                            - string
                            - 'null'
                            description: String at product.ext.gid
                          data_docid:
                            type:
                            - string
                            - 'null'
                            description: String at product.ext.data_docid
                          pvf:
                            type:
                            - string
                            - 'null'
                            description: String at product.ext.pvf
                          seller_id:
                            type:
                            - string
                            - 'null'
                            description: String at product.ext.seller_id
                          sold_count:
                            type:
                            - integer
                            - 'null'
                            description: Numeric at product.ext.sold_count
                          catalog_id:
                            type:
                            - string
                            - 'null'
                            description: String at product.ext.catalog_id
                          requested_id:
                            type:
                            - string
                            - 'null'
                            description: String at product.ext.requested_id
                          rating_distribution:
                            type:
                            - object
                            - 'null'
                            description: 'Nested object: product.ext.rating_distribution'
                            properties:
                              star_1:
                                type:
                                - integer
                                - 'null'
                                description: Numeric at product.ext.rating_distribution.star_1
                              star_2:
                                type:
                                - integer
                                - 'null'
                                description: Numeric at product.ext.rating_distribution.star_2
                              star_3:
                                type:
                                - integer
                                - 'null'
                                description: Numeric at product.ext.rating_distribution.star_3
                              star_4:
                                type:
                                - integer
                                - 'null'
                                description: Numeric at product.ext.rating_distribution.star_4
                              star_5:
                                type:
                                - integer
                                - 'null'
                                description: Numeric at product.ext.rating_distribution.star_5
                          store_inventory:
                            type:
                            - array
                            - 'null'
                            description: Array at product.ext.store_inventory
                            items:
                              type: object
                              description: 'Nested object: product.ext.store_inventory'
                              properties:
                                store_id:
                                  type:
                                  - string
                                  - 'null'
                                  description: String at product.ext.store_inventory.store_id
                                store_name:
                                  type:
                                  - string
                                  - 'null'
                                  description: String at product.ext.store_inventory.store_name
                                state:
                                  type:
                                  - string
                                  - 'null'
                                  description: String at product.ext.store_inventory.state
                                in_stock:
                                  type:
                                  - boolean
                                  - 'null'
                                  description: Boolean at product.ext.store_inventory.in_stock
                                quantity:
                                  type:
                                  - integer
                                  - 'null'
                                  description: Numeric at product.ext.store_inventory.quantity
                          condition:
                            type:
                            - string
                            - 'null'
                            description: String at product.ext.condition
                          available_quantity:
                            type:
                            - integer
                            - 'null'
                            description: Numeric at product.ext.available_quantity
                          watchers:
                            type:
                            - integer
                            - 'null'
                            description: Numeric at product.ext.watchers
                          sold_at:
                            type:
                            - string
                            - 'null'
                            description: String at product.ext.sold_at
                          sold_caption:
                            type:
                            - string
                            - 'null'
                            description: String at product.ext.sold_caption
                          buying_format:
                            type:
                            - string
                            - 'null'
                            description: String at product.ext.buying_format
                          seller_reputation:
                            type:
                            - object
                            - 'null'
                            description: 'Nested object: product.ext.seller_reputation'
                            properties:
                              feedback_percentage:
                                type:
                                - integer
                                - 'null'
                                description: Numeric at product.ext.seller_reputation.feedback_percentage
                              feedback_count:
                                type:
                                - integer
                                - 'null'
                                description: Numeric at product.ext.seller_reputation.feedback_count
                              top_rated:
                                type:
                                - boolean
                                - 'null'
                                description: Boolean at product.ext.seller_reputation.top_rated
                              items_sold:
                                type:
                                - integer
                                - 'null'
                                description: Numeric at product.ext.seller_reputation.items_sold
                              joined:
                                type:
                                - string
                                - 'null'
                                description: String at product.ext.seller_reputation.joined
                              url:
                                type:
                                - string
                                - 'null'
                                description: String at product.ext.seller_reputation.url
                              detailed_ratings:
                                type:
                                - object
                                - 'null'
                                description: 'Nested object: product.ext.seller_reputation.detailed_ratings'
                                properties:
                                  accurate_description:
                                    type:
                                    - integer
                                    - 'null'
                                    description: Numeric at product.ext.seller_reputation.detailed_ratings.accurate_description
                                  reasonable_shipping_cost:
                                    type:
                                    - integer
                                    - 'null'
                                    description: Numeric at product.ext.seller_reputation.detailed_ratings.reasonable_shipping_cost
                                  shipping_speed:
                                    type:
                                    - integer
                                    - 'null'
                                    description: Numeric at product.ext.seller_reputation.detailed_ratings.shipping_speed
                                  communication:
                                    type:
                                    - integer
                                    - 'null'
                                    description: Numeric at product.ext.seller_reputation.detailed_ratings.communication
                      _warnings:
                        type: array
                        description: 'Non-fatal notices about this response (field-map drift, clamped computed values). Advisory only: its presence never means the request failed. Omitted entirely when there is nothing to report, so treat absent as ''no warnings''.'
                        items:
                          type: string
                          description: One advisory notice.
                  credits_used:
                    type: integer
                    description: Number of credits consumed
                  credits_remaining:
                    type:
                    - integer
                    - 'null'
                    description: Current account balance. Null only when an idempotency replay succeeds but its transient balance lookup fails.
                  request_id:
                    type: string
                    description: Unique request identifier for support
                  cached:
                    type: boolean
                    description: Whether the response was served from cache
                  idempotent_replay:
                    type: boolean
                    description: True only when this response is an idempotency replay
                required:
                - success
                - platform
                - endpoint
                - data
                - credits_used
                - credits_remaining
                - request_id
                - cached
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '402':
          $ref: '#/components/responses/Error402'
        '404':
          $ref: '#/components/responses/Error404'
        '405':
          $ref: '#/components/responses/Error405'
        '409':
          $ref: '#/components/responses/Error409'
        '413':
          $ref: '#/components/responses/Error413'
        '422':
          $ref: '#/components/responses/Error422'
        '429':
          $ref: '#/components/responses/Error429'
        '500':
          $ref: '#/components/responses/Error500'
        '502':
          $ref: '#/components/responses/Error502'
        '503':
          $ref: '#/components/responses/Error503'
  /tiktokshop/product/reviews:
    get:
      summary: List TikTok Shop product reviews
      description: Returns reviews for a TikTok Shop product. Each review includes rating, text, author, and timestamp. Upstream pagination is not currently supported (the `page` parameter doesn't round-trip) so only page 1 is returned.
      tags:
      - tiktokshop
      operationId: get_tiktokshop_product_reviews
      security:
      - ApiKeyAuth: []
      x-credit-tier: standard
      x-credit-cost: 1
      x-socialcrawl-oneOf:
      - - url
        - product_id
      parameters:
      - name: url
        in: query
        required: false
        description: 'Full URL of the TikTok Shop product page (one of: url, product_id; at least one required)'
        schema:
          type: string
      - name: product_id
        in: query
        required: false
        description: 'The ID of the product (required if url is not provided) (one of: url, product_id; at least one required)'
        schema:
          type: string
      - name: region
        in: query
        required: false
        description: ISO 3166-1 alpha-2 region for the product (e.g. `US`). Important when the product is regionally scoped.
        schema:
          type: string
      - name: Cache-Control
        in: header
        required: false
        description: Send `no-cache` to bypass the response cache and force a live fetch. Billed at the normal endpoint cost; the fresh result is written back to cache for the next caller. Only the `no-cache` directive triggers this. See the Response Schema guide for details.
        schema:
          type: string
      - name: Idempotency-Key
        in: header
        required: false
        description: 'Optional UUID that makes the request safely retriable. A replay keeps the cached payload immutable except for billing metadata: `credits_used` becomes 0, `idempotent_replay` becomes true, and `credits_remaining` is refreshed to the current balance. A known current balance appears in both the body and `X-Credits-Remaining` header; no balance row resolves to 0. On a transient lookup failure, body `credits_remaining` is null and `X-Credits-Remaining` is omitted. Scoped per account with a 24-hour TTL.'
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          headers:
            X-Credits-Used:
              description: Net credits charged for this response. Idempotency replays report 0.
              schema:
                type: integer
                minimum: 0
            X-Credits-Remaining:
              description: Current balance when known. On an idempotency replay, this header is omitted when the balance lookup fails; body `credits_remaining` is null instead.
              schema:
                type: integer
                minimum: 0
            X-Idempotent-Replay:
              description: Present with value `true` only when this response replays a settled idempotency record.
              schema:
                type: string
                enum:
                - 'true'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Whether the request succeeded
                  platform:
                    type: string
                    description: Platform name
                  endpoint:
                    type: string
                    description: API endpoint path
                  data:
                    type: object
                    description: Platform-specific response data
                    properties:
                      items:
                        type: array
                        description: Array of canonical review wrappers ({ review })
                        items:
                          type: object
                          description: Canonical review wrapper
                          properties:
                            review:
                              type: object
                              description: Canonical Review object (shared across commerce platforms)
                              properties:
                                id:
                                  type: string
                                  description: Review ID (parsed from the review URL when not first-class)
                                entity_id:
                                  type:
                                  - string
                                  - 'null'
                                  description: ID of the reviewed entity (e.g. the Amazon ASIN)
                                url:
                                  type:
                                  - string
                                  - 'null'
                                  description: String at review.url
                                title:
                                  type:
                                  - string
                                  - 'null'
                                  description: String at review.title
                                text:
                                  type:
                                  - string
                                  - 'null'
                                  description: Full review body
                                rating:
                                  type: object
                                  description: Star rating (value + max)
                                  properties:
                                    value:
                                      type:
                                      - integer
                                      - 'null'
                                      description: Numeric at review.rating.value
                                    max:
                                      type:
                                      - integer
                                      - 'null'
                                      description: Numeric at review.rating.max
                                author:
                                  type: object
                                  description: 'Nested object: review.author'
                                  properties:
                                    name:
                                      type:
                                      - string
                                      - 'null'
                                      description: String at review.author.name
                                    avatar_url:
                                      type:
                                      - string
                                      - 'null'
                                      description: String at review.author.avatar_url
                                    url:
                                      type:
                                      - string
                                      - 'null'
                                      description: String at review.author.url
                                    location:
                                      type:
                                      - string
                                      - 'null'
                                      description: String at review.author.location
                                    reviews_count:
                                      type:
                                      - integer
                                      - 'null'
                                      description: Numeric at review.author.reviews_count
                                helpful_votes:
                                  type:
                                  - integer
                                  - 'null'
                                  description: Helpful-vote count (Amazon; null elsewhere)
                                verified:
                                  type:
                                  - boolean
                                  - 'null'
                                  description: Verified-purchase flag (Amazon; null elsewhere)
                                source:
                                  type:
                                  - string
                                  - 'null'
                                  description: String at review.source
                                language:
                                  type:
                                  - string
                                  - 'null'
                                  description: String at review.language
                                original_language:
                                  type:
                                  - string
                                  - 'null'
                                  description: String at review.original_language
                                translated:
                                  type:
                                  - boolean
                                  - 'null'
                                  description: Boolean at review.translated
                                images:
                                  type:
                                  - array
                                  - 'null'
                                  description: Array at review.images
                                  items:
                                    type: string
                                    description: String at review.images
                                responses:
                                  type:
                                  - array
                                  - 'null'
                                  description: Array at review.responses
                                  items:
                                    type: object
                                    description: 'Nested object: review.responses'
                                    properties:
                                      id:
                                        type:
                                        - string
                                        - 'null'
                                        description: String at review.responses.id
                                      author:
                                        type:
                                        - string
                                        - 'null'
                                        description: String at review.responses.author
                                      text:
                                        type:
                                        - string
                                        - 'null'
                                        description: String at review.responses.text
                                      published_at:
                                        type:
                                        - string
                                        - integer
                                        - 'null'
                                        description: 'Union: string | integer | null'
                                published_at:
                                  type:
                                  - string
                                  - integer
                                  - 'null'
                                  description: 'Union: string | integer | null'
                                ext:
                                  type:
                                  - object
                                  - 'null'
                                  description: 'Nested object: review.ext'
                                  properties:
                                    appdata:
                                      type:
                                      - string
                                      - 'null'
                                      description: Leaf at review.ext.appdata
                                    tiktokshop:
                                      type:
                                      - string
                                      - 'null'
                                      description: Leaf at review.ext.tiktokshop
                      next_cursor:
                        type:
                        - string
                        - 'null'
                        description: Opaque cursor for the next page. Pass it back as a query parameter on endpoints that support pagination. Present only when the upstream reports more results.
                      total:
                        type:
                        - integer
                        - 'null'
                        description: Total number of matching results, when the upstream provides a count. Omitted otherwise.
                      dropped:
                        type: integer
                        description: Number of upstream list items dropped because they could not be repaired to the endpoint schema. Valid list responses include 0.
                      _warnings:
                        type: array
                        description: 'Non-fatal notices about this response (field-map drift, clamped computed values). Advisory only: its presence never means the request failed. Omitted entirely when there is nothing to report, so treat absent as ''no warnings''.'
                        items:
                          type: string
                          description: One advisory notice.
                    required:
                    - dropped
                  credits_used:
                    type: integer
                    description: Number of credits consumed
                  credits_remaining:
                    type:
                    - integer
                    - 'null'
                    description: Current account balance. Null only when an idempotency replay succeeds but its transient balance lookup fails.
                  request_id:
                    type: string
                    description: Unique request identifier for support
                  cached:
                    type: boolean
                    description: Whether the response was served from cache
                  idempotent_replay:
                    type: boolean
                    description: True only when this response is an idempotency replay
                  pagination:
                    type: object
                    description: Cursor state for this page. Present on every list response.
                    properties:
                      next_cursor:
                        type:
                        - string
                        - 'null'
                        description: Opaque token to send back as `cursor` for the next page, or null at end-of-list. Pass it back verbatim; never decode or trim it.
                      has_more:
                        type: boolean
                        description: Explicit stop signal. Prefer this over inspecting next_cursor or comparing against total.
                      page_size:
                        type: integer
                        description: Number of items in THIS page.
                    required:
                    - next_cursor
                    - has_more
                    - page_size
                required:
                - success
                - platform
                - endpoint
                - data
                - credits_used
                - credits_remaining
                - request_id
                - cached
                - pagination
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '402':
          $ref: '#/components/responses/Error402'
        '404':
          $ref: '#/components/responses/Error404'
        '405':
          $ref: '#/components/responses/Error405'
        '409':
          $ref: '#/components/responses/Error409'
        '413':
          $ref: '#/components/responses/Error413'
        '422':
          $ref: '#/components/responses/Error422'
        '429':
          $ref: '#/components/responses/Error429'
        '500':
          $ref: '#/components/responses/Error500'
        '502':
          $ref: '#/components/responses/Error502'
        '503':
          $ref: '#/components/responses/Error503'
  /tiktokshop/products:
    get:
      summary: List TikTok Shop products
      description: 'Returns products from a TikTok Shop page: title, cover images, URL, price info, sold count, review count, and rating. Sort by best-selling (`sort_by=top`) or newest (`sort_by=new_releases`); filter by `region`. Pagination via the upstream `cursor` is not currently exposed: only page 1 is returned.'
      tags:
      - tiktokshop
      operationId: get_tiktokshop_products
      security:
      - ApiKeyAuth: []
      x-credit-tier: standard
      x-credit-cost: 1
      parameters:
      - name: url
        in: query
        required: true
        description: Full URL of the TikTok Shop page
        schema:
          type: string
      - name: sort_by
        in: query
        required: false
        description: Sort products by best-selling (`top`) or newest (`new_releases`). Defaults to `top`.
        schema:
          type: string
          enum:
          - top
          - new_releases
      - name: region
        in: query
        required: false
        description: Region to get shop products from. Defaults to US if not provided.
        schema:
          type: string
          enum:
          - US
          - GB
          - DE
          - FR
          - IT
          - ID
          - MY
          - MX
          - PH
          - SG
          - ES
          - TH
          - VN
          - BR
          - JP
          - IE
      - name: Cache-Control
        in: header
        required: false
        description: Send `no-cache` to bypass the response cache and force a live fetch. Billed at the normal endpoint cost; the fresh result is written back to cache for the next caller. Only the `no-cache` directive triggers this. See the Response Schema guide for details.
        schema:
          type: string
      - name: Idempotency-Key
        in: header
        required: false
        description: 'Optional UUID that makes the request safely retriable. A replay keeps the cached payload immutable except for billing metadata: `credits_used` becomes 0, `idempotent_replay` becomes true, and `credits_remaining` is refreshed to the current balance. A known current balance appears in both the body and `X-Credits-Remaining` header; no balance row resolves to 0. On a transient lookup failure, body `credits_remaining` is null and `X-Credits-Remaining` is omitted. Scoped per account with a 24-hour TTL.'
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          headers:
            X-Credits-Used:
              description: Net credits charged for this response. Idempotency replays report 0.
              schema:
                type: integer
                minimum: 0
            X-Credits-Remaining:
              description: Current balance when known. On an idempotency replay, this header is omitted when the balance lookup fails; body `credits_remaining` is null instead.
              schema:
                type: integer
                minimum: 0
            X-Idempotent-Replay:
              description: Present with value `true` only when this response replays a settled idempotency record.
              schema:
                type: string
                enum:
                - 'true'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Whether the request succeeded
                  platform:
                    type: string
                    description: Platform name
                  endpoint:
                    type: string
                    description: API endpoint path
                  data:
                    type: object
                    description: Platform-specific response data
                    properties:
                      items:
                        type: array
                        description: Array of canonical product wrappers ({ product })
                        items:
                          type: object
                          description: Canonical product wrapper
                          properties:
                            product:
                              type: object
                              description: Canonical Product object (unified across commerce platforms)
                              properties:
                                id:
                                  type: string
                                  description: Platform product ID (Amazon ASIN / Google Shopping product id)
                                url:
                                  type:
                                  - string
                                  - 'null'
                                  description: Direct URL to the product page
                                title:
                                  type:
                                  - string
                                  - 'null'
                                  description: Product title
                                description:
                                  type:
                                  - string
                                  - 'null'
                                  description: String at product.description
                                seller:
                                  type:
                                  - string
                                  - 'null'
                                  description: String at product.seller
                                brand:
                                  type:
                                  - string
                                  - 'null'
                                  description: Brand name (cleaned). Null when the platform exposes a seller instead.
                                price:
                                  type: object
                                  description: Price block (current, original/list, currency)
                                  properties:
                                    current:
                                      type:
                                      - integer
                                      - 'null'
                                      description: Numeric at product.price.current
                                    original:
                                      type:
                                      - integer
                                      - 'null'
                                      description: Numeric at product.price.original
                                    currency:
                                      type:
                                      - string
                                      - 'null'
                                      description: String at product.price.currency
                                rating:
                                  type: object
                                  description: Aggregate rating (average + number of ratings)
                                  properties:
                                    average:
                                      type:
                                      - integer
                                      - 'null'
                                      description: Numeric at product.rating.average
                                    count:
                                      type:
                                      - integer
                                      - 'null'
                                      description: Numeric at product.rating.count
                                image_urls:
                                  type:
                                  - string
                                  - array
                                  - 'null'
                                  description: Primary image URL, or an array of image URLs for products with a gallery.
                                  items:
                                    type: string
                                    description: Primary image URL, or an array of image URLs for products with a gallery.
                                availability:
                                  type:
                                  - string
                                  - 'null'
                                  description: Stock/availability string when surfaced
                                reviews_count:
                                  type:
                                  - integer
                                  - 'null'
                                  description: Numeric at product.reviews_count
                                features:
                                  type:
                                  - array
                                  - 'null'
                                  description: Array at product.features
                                  items:
                                    type: string
                                    description: String at product.features
                                specifications:
                                  type:
                                  - array
                                  - 'null'
                                  description: Array at product.specifications
                                  items:
                                    type: object
                                    description: 'Nested object: product.specifications'
                                    properties:
                                      group:
                                        type:
                                        - string
                                        - 'null'
                                        description: String at product.specifications.group
                                      name:
                                        type:
                                        - string
                                        - 'null'
                                        description: String at product.specifications.name
                                      value:
                                        type:
                                        - string
                                        - 'null'
                                        description: String at product.specifications.value
                                variations:
                                  type:
                                  - array
                                  - 'null'
                                  description: Array at product.variations
                                  items:
                                    type: object
                                    description: 'Nested object: product.variations'
                                    properties:
                                      id:
                                        type:
                                        - string
                                        - 'null'
                                        description: String at product.variations.id
                                      title:
                                        type:
                                        - string
                                        - 'null'
                                        description: String at product.variations.title
                                      url:
                                        type:
                                        - string
                                        - 'null'
                                        description: String at product.variations.url
                                      category:
                                        type:
                                        - string
                                        - 'null'
                                        description: String at product.variations.category
                                ext:
                                  type:
                                  - object
                                  - 'null'
                                  description: 'Nested object: product.ext'
                                  properties:
                                    gid:
                                      type:
                                      - string
                                      - 'null'
                                      description: String at product.ext.gid
                                    data_docid:
                                      type:
                                      - string
                                      - 'null'
                                      description: String at product.ext.data_docid
                                    pvf:
                                      type:
                                      - string
                                      - 'null'
                                      description: String at product.ext.pvf
                                    seller_id:
                                      type:
                                      - string
                                      - 'null'
                                      description: String at product.ext.seller_id
                                    sold_count:
                                      type:
                                      - integer
                                      - 'null'
                                      description: Numeric at product.ext.sold_count
                                    catalog_id:
                                      type:
                                      - string
                                      - 'null'
                                      description: String at product.ext.catalog_id
                                    requested_id:
                                      type:
                                      - string
                                      - 'null'
                                      description: String at product.ext.requested_id
                                    rating_distribution:
                                      type:
                                      - object
                                      - 'null'
                                      description: 'Nested object: product.ext.rating_distribution'
                                      properties:
                                        star_1:
                                          type:
                                          - integer
                                          - 'null'
                                          description: Numeric at product.ext.rating_distribution.star_1
                                        star_2:
                                          type:
                                          - integer
                                          - 'null'
                                          description: Numeric at product.ext.rating_distribution.star_2
                                        star_3:
                                          type:
                                          - integer
                                          - 'null'
                                          description: Numeric at product.ext.rating_distribution.star_3
                                        star_4:
                                          type:
                                          - integer
                                          - 'null'
                                          description: Numeric at product.ext.rating_distribution.star_4
                                        star_5:
                                          type:
                                          - integer
                                          - 'null'
                                          description: Numeric at product.ext.rating_distribution.star_5
                                    store_inventory:
                                      type:
                                      - array
                                      - 'null'
                                      description: Array at product.ext.store_inventory
                                      items:
                                        type: object
                                        description: 'Nested object: product.ext.store_inventory'
                                        properties:
                                          store_id:
                                            type:
                                            - string
                                            - 'null'
                                            description: String at product.ext.store_inventory.store_id
                                          store_name:
                                            type:
                                            - string
                                            - 'null'
                                            description: String at product.ext.store_inventory.store_name
                                          state:
                                            type:
                                            - string
                                            - 'null'
                                            description: String at product.ext.store_inventory.state
                                          in_stock:
                                            type:
                                            - boolean
                                            - 'null'
                                            description: Boolean at product.ext.store_inventory.in_stock
                                          quantity:
                                            type:
                                            - integer
                                            - 'null'
                                            description: Numeric at product.ext.store_inventory.quantity
                                    condition:
                                      type:
                                      - string
                                      - 'null'
                                      description: String at product.ext.condition
                                    available_quantity:
                                      type:
                                      - integer
                                      - 'null'
                                      description: Numeric at product.ext.available_quantity
                                    watchers:
                                      type:
                                      - integer
                                      - 'null'
                                      description: Numeric at product.ext.watchers
                                    sold_at:
                                      type:
                                      - string
                                      - 'null'
                                      description: String at product.ext.sold_at
                                    sold_caption:
                                      type:
                                      - string
                                      - 'null'
                                      description: String at product.ext.sold_caption
                                    buying_format:
                                      type:
                                      - string
                                      - 'null'
                                      description: String at product.ext.buying_format
                                    seller_reputation:
                                      type:
                                      - object
                                      - 'null'
                                      description: 'Nested object: product.ext.seller_reputation'
                                      properties:
                                        feedback_percentage:
                                          type:
                                          - integer
                                          - 'null'
                                          description: Numeric at product.ext.seller_reputation.feedback_percentage
                                        feedback_count:
                                          type:
                                          - integer
                                          - 'null'
                                          description: Numeric at product.ext.seller_reputation.feedback_count
                                        top_rated:
                                          type:
                                          - boolean
                                          - 'null'
                                          description: Boolean at product.ext.seller_reputation.top_rated
                                        items_sold:
                                          type:
                                          - integer
                                          - 'null'
                                          description: Numeric at product.ext.seller_reputation.items_sold
                                        joined:
                                          type:
                                          - string
                                          - 'null'
                                          description: String at product.ext.seller_reputation.joined
                                        url:
                                          type:
                                          - string
                                          - 'null'
                                          description: String at product.ext.seller_reputation.url
                                        detailed_ratings:
                                          type:
                                          - object
                                          - 'null'
                                          description: 'Nested object: product.ext.seller_reputation.detailed_ratings'
                                          properties:
                                            accurate_description:
                                              type:
                                              - integer
                                              - 'null'
                                              description: Numeric at product.ext.seller_reputation.detailed_ratings.accurate_description
                                            reasonable_shipping_cost:
                                              type:
                                              - integer
                                              - 'null'
                                              description: Numeric at product.ext.seller_reputation.detailed_ratings.reasonable_shipping_cost
                                            shipping_speed:
                                              type:
                                              - integer
                                              - 'null'
                                              description: Numeric at product.ext.seller_reputation.detailed_ratings.shipping_speed
                                            communication:
                                              type:
                                              - integer
                                              - 'null'
                                              description: Numeric at product.ext.seller_reputation.detailed_ratings.communication
                      next_cursor:
                        type:
                        - string
                        - 'null'
                        description: Opaque cursor for the next page. Pass it back as a query parameter on endpoints that support pagination. Present only when the upstream reports more results.
                      total:
                        type:
                        - integer
                        - 'null'
                        description: Total number of matching results, when the upstream provides a count. Omitted otherwise.
                      dropped:
                        type: integer
                        description: Number of upstream list items dropped because they could not be repaired to the endpoint schema. Valid list responses include 0.
                      _warnings:
                        type: array
                        description: 'Non-fatal notices about this response (field-map drift, clamped computed values). Advisory only: its presence never means the request failed. Omitted entirely when there is nothing to report, so treat absent as ''no warnings''.'
                        items:
                          type: string
                          description: One advisory notice.
                    required:
                    - dropped
                  credits_used:
                    type: integer
                    description: Number of credits consumed
                  credits_remaining:
                    type:
                    - integer
                    - 'null'
                    description: Current account balance. Null only when an idempotency replay succeeds but its transient balance lookup fails.
                  request_id:
                    type: string
                    description: Unique request identifier for support
                  cached:
                    type: boolean
                    description: Whether the response was served from cache
                  idempotent_replay:
                    type: boolean
                    description: True only when this response is an idempotency replay
                  pagination:
                    type: object
                    description: Cursor state for this page. Present on every list response.
                    properties:
                      next_cursor:
                        type:
                        - string
                        - 'null'
                        description: Opaque token to send back as `cursor` for the next page, or null at end-of-list. Pass it back verbatim; never decode or trim it.
                      has_more:
                        type: boolean
                        description: Explicit stop signal. Prefer this over inspecting next_cursor or comparing against total.
                      page_size:
                        type: integer
                        description: Number of items in THIS page.
                    required:
                    - next_cursor
                    - has_more
                    - page_size
                required:
                - success
                - platform
                - endpoint
                - data
                - credits_used
                - credits_remaining
                - request_id
                - cached
                - pagination
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '402':
          $ref: '#/components/responses/Error402'
        '404':
          $ref: '#/components/responses/Error404'
        '405':
          $ref: '#/components/responses/Error405'
        '409':
          $ref: '#/components/responses/Error409'
        '413':
          $ref: '#/components/responses/Error413'
        '422':
          $ref: '#/components/responses/Error422'
        '429':
          $ref: '#/components/responses/Error429'
        '500':
          $ref: '#/components/responses/Error500'
        '502':
          $ref: '#/components/responses/Error502'
        '503':
          $ref: '#/components/responses/Error503'
  /tiktokshop/search:
    get:
      summary: Search TikTok Shop products
      description: Searches TikTok Shop for products matching a query. Returns matching products with prices, ratings, and seller info.
      tags:
      - tiktokshop
      operationId: get_tiktokshop_search
      security:
      - ApiKeyAuth: []
      x-credit-tier: standard
      x-credit-cost: 1
      parameters:
      - name: query
        in: query
        required: true
        description: Search keyword or phrase to find TikTok Shop products
        schema:
          type: string
      - name: page
        in: query
        required: false
        description: 'Page number to retrieve Native upstream cursor param. Send the universal `cursor` instead: the API maps it to this name for you.'
        deprecated: true
        schema:
          type: integer
      - name: region
        in: query
        required: false
        description: Region to search shop products in.
        schema:
          type: string
          enum:
          - US
          - GB
          - DE
          - FR
          - IT
          - ID
          - MY
          - MX
          - PH
          - SG
          - ES
          - TH
          - VN
          - BR
          - JP
          - IE
      - name: cursor
        in: query
        required: false
        description: 'Universal pagination cursor. Send `pagination.next_cursor` from the previous response back verbatim: the API maps it to this endpoint''s native `page` (page style). You never construct, decode, or look up a cursor. Omit it for page 1.'
        schema:
          type: string
      - name: Cache-Control
        in: header
        required: false
        description: Send `no-cache` to bypass the response cache and force a live fetch. Billed at the normal endpoint cost; the fresh result is written back to cache for the next caller. Only the `no-cache` directive triggers this. See the Response Schema guide for details.
        schema:
          type: string
      - name: Idempotency-Key
        in: header
        required: false
        description: 'Optional UUID that makes the request safely retriable. A replay keeps the cached payload immutable except for billing metadata: `credits_used` becomes 0, `idempotent_replay` becomes true, and `credits_remaining` is refreshed to the current balance. A known current balance appears in both the body and `X-Credits-Remaining` header; no balance row resolves to 0. On a transient lookup failure, body `credits_remaining` is null and `X-Credits-Remaining` is omitted. Scoped per account with a 24-hour TTL.'
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          headers:
            X-Credits-Used:
              description: Net credits charged for this response. Idempotency replays report 0.
              schema:
                type: integer
                minimum: 0
            X-Credits-Remaining:
              description: Current balance when known. On an idempotency replay, this header is omitted when the balance lookup fails; body `credits_remaining` is null instead.
              schema:
                type: integer
                minimum: 0
            X-Idempotent-Replay:
              description: Present with value `true` only when this response replays a settled idempotency record.
              schema:
                type: string
                enum:
                - 'true'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Whether the request succeeded
                  platform:
                    type: string
                    description: Platform name
                  endpoint:
                    type: string
                    description: API endpoint path
                  data:
                    type: object
                    description: Platform-specific response data
                    properties:
                      items:
                        type: array
                        description: Array of search result objects
                        items:
                          type: object
                          description: Search result item
                      next_cursor:
                        type:
                        - string
                        - 'null'
                        description: Opaque cursor for the next page. Pass it back as a query parameter on endpoints that support pagination. Present only when the upstream reports more results.
                      total:
                        type:
                        - integer
                        - 'null'
                        description: Total number of matching results, when the upstream provides a count. Omitted otherwise.
                      dropped:
                        type: integer
                        description: Number of upstream list items dropped because they could not be repaired to the endpoint schema. Valid list responses include 0.
                      _warnings:
                        type: array
                        description: 'Non-fatal notices about this response (field-map drift, clamped computed values). Advisory only: its presence never means the request failed. Omitted entirely when there is nothing to report, so treat absent as ''no warnings''.'
                        items:
                          type: string
                          description: One advisory notice.
                    required:
                    - dropped
                  credits_used:
                    type: integer
                    description: Number of credits consumed
                  credits_remaining:
                    type:
                    - integer
                    - 'null'
                    description: Current account balance. Null only when an idempotency replay succeeds but its transient balance lookup fails.
                  request_id:
                    type: string
                    description: Unique request identifier for support
                  cached:
                    type: boolean
                    description: Whether the response was served from cache
                  idempotent_replay:
                    type: boolean
                    description: True only when this response is an idempotency replay
                  pagination:
                    type: object
                    description: Cursor state for this page. Present on every list response.
                    properties:
                      next_cursor:
                        type:
                        - string
                        - 'null'
                        description: Opaque token to send back as `cursor` for the next page, or null at end-of-list. Pass it back verbatim; never decode or trim it.
                      has_more:
                        type: boolean
                        description: Explicit stop signal. Prefer this over inspecting next_cursor or comparing against total.
                      page_size:
                        type: integer
                        description: Number of items in THIS page.
                    required:
                    - next_cursor
                    - has_more
                    - page_size
                required:
                - success
                - platform
                - endpoint
                - data
                - credits_used
                - credits_remaining
                - request_id
                - cached
                - pagination
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '402':
          $ref: '#/components/responses/Error402'
        '404':
          $ref: '#/components/responses/Error404'
        '405':
          $ref: '#/components/responses/Error405'
        '409':
          $ref: '#/components/responses/Error409'
        '413':
          $ref: '#/components/responses/Error413'
        '422':
          $ref: '#/components/responses/Error422'
        '429':
          $ref: '#/components/responses/Error429'
        '500':
          $ref: '#/components/responses/Error500'
        '502':
          $ref: '#/components/responses/Error502'
        '503':
          $ref: '#/components/responses/Error503'
  /tiktokshop/user/showcase:
    get:
      summary: List TikTok user showcase products
      description: 'Fetches products featured in a TikTok user''s public showcase: the products a creator promotes on their profile. Each product includes title, price, images, and shop details. Region note: the upstream currently serves showcase lookups from the US only, so a showcase whose products are visible exclusively in another regional market (for example a GB creator selling GB-only listings) can return an empty list at 0 credits.'
      tags:
      - tiktokshop
      operationId: get_tiktokshop_user_showcase
      security:
      - ApiKeyAuth: []
      x-credit-tier: standard
      x-credit-cost: 1
      parameters:
      - name: handle
        in: query
        required: true
        description: The handle of the user
        schema:
          type: string
      - name: region
        in: query
        required: false
        description: Region the lookup is served from. Currently US only (an upstream limitation; other regions are rejected before billing). Support for more regions is planned upstream but has no date.
        schema:
          type: string
          enum:
          - US
      - name: cursor
        in: query
        required: false
        description: The cursor to the next page of products
        schema:
          type: string
      - name: Cache-Control
        in: header
        required: false
        description: Send `no-cache` to bypass the response cache and force a live fetch. Billed at the normal endpoint cost; the fresh result is written back to cache for the next caller. Only the `no-cache` directive triggers this. See the Response Schema guide for details.
        schema:
          type: string
      - name: Idempotency-Key
        in: header
        required: false
        description: 'Optional UUID that makes the request safely retriable. A replay keeps the cached payload immutable except for billing metadata: `credits_used` becomes 0, `idempotent_replay` becomes true, and `credits_remaining` is refreshed to the current balance. A known current balance appears in both the body and `X-Credits-Remaining` header; no balance row resolves to 0. On a transient lookup failure, body `credits_remaining` is null and `X-Credits-Remaining` is omitted. Scoped per account with a 24-hour TTL.'
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          headers:
            X-Credits-Used:
              description: Net credits charged for this response. Idempotency replays report 0.
              schema:
                type: integer
                minimum: 0
            X-Credits-Remaining:
              description: Current balance when known. On an idempotency replay, this header is omitted when the balance lookup fails; body `credits_remaining` is null instead.
              schema:
                type: integer
                minimum: 0
            X-Idempotent-Replay:
              description: Present with value `true` only when this response replays a settled idempotency record.
              schema:
                type: string
                enum:
                - 'true'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Whether the request succeeded
                  platform:
                    type: string
                    description: Platform name
                  endpoint:
                    type: string
                    description: API endpoint path
                  data:
                    type: object
                    description: Platform-specific response data
                    properties:
                      items:
                        type: array
                        description: Array of canonical post wrappers ({ post, computed })
                        items:
                          type: object
                          description: Canonical post wrapper
                          properties:
                            post:
                              type: object
                              description: Canonical Post object (unified across all platforms)
                              properties:
                                id:
                                  type: string
                                  description: Platform-specific post ID (always a string; numeric upstream IDs are stringified)
                                url:
                                  type:
                                  - string
                                  - 'null'
                                  description: Direct URL to the post on the source platform
                                content:
                                  type: object
                                  description: Post content fields (text, media, thumbnail, duration)
                                  properties:
                                    text:
                                      type:
                                      - string
                                      - 'null'
                                      description: Post caption, description, or text content
                                    media_urls:
                                      type:
                                      - string
                                      - array
                                      - 'null'
                                      description: URL(s) of the primary media. Single string for video/photo posts; array of strings for carousels.
                                      items:
                                        type: string
                                        description: URL(s) of the primary media. Single string for video/photo posts; array of strings for carousels.
                                    thumbnail_url:
                                      type:
                                      - string
                                      - 'null'
                                      description: URL to thumbnail image
                                    duration_seconds:
                                      type:
                                      - integer
                                      - 'null'
                                      description: Video/clip duration in seconds (null for non-video posts)
                                author:
                                  type: object
                                  description: Subset of Author fields for the post creator
                                  properties:
                                    username:
                                      type:
                                      - string
                                      - 'null'
                                      description: Author username
                                    display_name:
                                      type:
                                      - string
                                      - 'null'
                                      description: Author display name
                                    avatar_url:
                                      type:
                                      - string
                                      - 'null'
                                      description: URL to author profile picture
                                    verified:
                                      type:
                                      - boolean
                                      - 'null'
                                      description: Whether the author account is verified
                                engagement:
                                  type: object
                                  description: Engagement counts
                                  properties:
                                    views:
                                      type:
                                      - integer
                                      - 'null'
                                      description: 'View count (if available). For Instagram video/reels this is the play count: the headline ''Views'' the IG app shows. Instagram removed per-post play counts from its public web pages in August 2026, so `GET /v1/instagram/post` now fills the count automatically from a second source within the same call: videos and reels keep a numeric `views` with no extra endpoint or workaround. Note: since mid-July 2026 Instagram''s play count is Instagram-only. It no longer includes Facebook crosspost views (Meta-side change; the app UI changed identically). For combined reach, also fetch the Facebook crosspost via `/v1/facebook/post`.'
                                    likes:
                                      type:
                                      - integer
                                      - 'null'
                                      description: Like / reaction count
                                    comments:
                                      type:
                                      - integer
                                      - 'null'
                                      description: 'Comment count. Note: on `GET /v1/instagram/post` this is Instagram''s `edge_media_to_parent_comment.count` (top-level comments); the IG list endpoints report the mobile `comment_count` total (includes replies). Both land on this same field.'
                                    shares:
                                      type:
                                      - integer
                                      - 'null'
                                      description: Share / repost / retweet count. On Instagram this is `reshare_count` (the paper-plane Share / Send count) and it exists only on Instagram's mobile surface, so it is returned by `/v1/instagram/post/stats`, `/v1/instagram/profile/reels/full`, and `/v1/instagram/profile/posts/full`. The web-sourced Instagram list and search endpoints return `null` (never fabricated).
                                    saves:
                                      type:
                                      - integer
                                      - 'null'
                                      description: 'Save / bookmark count. `null` on Instagram: the save count is platform-private and Instagram exposes no numeric save metric on any surface (never fabricated).'
                                flags:
                                  type: object
                                  description: Boolean flags on the post
                                  properties:
                                    nsfw:
                                      type:
                                      - boolean
                                      - 'null'
                                      description: NSFW flag (null when platform does not surface)
                                    spoiler:
                                      type:
                                      - boolean
                                      - 'null'
                                      description: Spoiler flag (null when platform does not surface)
                                    pinned:
                                      type:
                                      - boolean
                                      - 'null'
                                      description: Pinned-to-profile flag (null when platform does not surface)
                                    deleted:
                                      type: boolean
                                      description: Whether the post is tombstoned (always present)
                                    likes_hidden:
                                      type:
                                      - boolean
                                      - 'null'
                                      description: Present and `true` when the creator has hidden the like count. `engagement.likes` is `null` in that case (never the platform's decoy preview number). Absent on normal posts.
                                    comments_hidden:
                                      type:
                                      - boolean
                                      - 'null'
                                      description: Present and `true` when the upstream reports the comment count as hidden. `engagement.comments` is `null` in that case. Absent on normal posts.
                                    shares_hidden:
                                      type:
                                      - boolean
                                      - 'null'
                                      description: Boolean at post.flags.shares_hidden
                                    views_hidden:
                                      type:
                                      - boolean
                                      - 'null'
                                      description: Boolean at post.flags.views_hidden
                                    saves_hidden:
                                      type:
                                      - boolean
                                      - 'null'
                                      description: Boolean at post.flags.saves_hidden
                                published_at:
                                  type:
                                  - string
                                  - integer
                                  - 'null'
                                  description: Post creation timestamp as an ISO 8601 UTC string. When the upstream sent a Unix epoch it is converted here and the raw epoch is preserved under `post.ext.published_at_epoch` for one deprecation cycle.
                                ext:
                                  type:
                                  - object
                                  - 'null'
                                  description: Platform-specific passthrough fields for cross-endpoint chains (present only on platforms that surface them)
                                  properties:
                                    music_id:
                                      type:
                                      - string
                                      - 'null'
                                      description: 'TikTok music/clip id (exact string): pass to `/v1/tiktok/song/videos?clipId=` to find videos using the same sound'
                                    author_id:
                                      type:
                                      - string
                                      - 'null'
                                      description: The creator's platform-native numeric user id. On TikTok search and list items, pass to `/v1/tiktok/profile?user_id=` for the creator's current follower count (survives username changes). On Instagram `search/reels` items it is present on every row from every serving source, accepted by `/v1/instagram/basic-profile?userId=`. On Facebook it appears when the upstream exposed a numeric actor id and no real handle.
                                    author_followers:
                                      type:
                                      - integer
                                      - 'null'
                                      description: 'The creator''s follower count as embedded in the search payload itself, when the search source happens to carry one. Historical on Instagram `search/reels`: Instagram stripped the follower count out of the search payload in August 2026, so it is now null on every Instagram row and no source can restore it. For a follower count call `/v1/instagram/profile?handle=` (1 credit, the exact current integer), or batch up to 50 creators through `POST /v1/prism/profiles`.'
                                    subreddit:
                                      type:
                                      - string
                                      - 'null'
                                      description: 'Reddit subreddit name (search/list items): pass to `/v1/reddit/subreddit/details?subreddit=`'
                                    title:
                                      type:
                                      - string
                                      - 'null'
                                      description: String at post.ext.title
                                    selftext:
                                      type:
                                      - string
                                      - 'null'
                                      description: String at post.ext.selftext
                                    type:
                                      type:
                                      - string
                                      - 'null'
                                      description: String at post.ext.type
                                    content_type:
                                      type:
                                      - string
                                      - 'null'
                                      description: Leaf at post.ext.content_type
                                    ticker_symbols:
                                      type:
                                      - array
                                      - 'null'
                                      description: Array at post.ext.ticker_symbols
                                      items:
                                        type: string
                                        description: String at post.ext.ticker_symbols
                                    video_view_count:
                                      type:
                                      - integer
                                      - 'null'
                                      description: 'Instagram''s legacy 3-second-view count. Historical: Instagram stopped serving it in August 2026 (removed from its web post surface along with the web play count), so fresh `/v1/instagram/post` lookups no longer carry it and no source can restore it. Use `engagement.views` (the play count) instead.'
                                    ig_play_count:
                                      type:
                                      - integer
                                      - 'null'
                                      description: Instagram-only play count (`ig_play_count`). Since mid-July 2026 Instagram's headline play count (`engagement.views`) no longer includes Facebook crosspost views and equals this value; it is surfaced explicitly so you can tell the Instagram-only figure apart and detect any future re-divergence. For combined Instagram + Facebook reach, also fetch the Facebook crosspost via `/v1/facebook/post`. Present on `/v1/instagram/post/stats` and, since the August 2026 views fix, on `/v1/instagram/post` for video posts.
                                    published_at_epoch:
                                      type:
                                      - integer
                                      - 'null'
                                      description: Raw Unix epoch for `published_at` (seconds, or milliseconds when the upstream sent millis). Present only when the upstream sent a numeric epoch that was normalised to the ISO 8601 `published_at` string. Kept for one deprecation cycle for integrations pinned to the numeric form.
                                    usertags:
                                      type:
                                      - array
                                      - 'null'
                                      description: Array at post.ext.usertags
                                      items:
                                        type: string
                                        description: Leaf at post.ext.usertags
                                    coauthors:
                                      type:
                                      - array
                                      - 'null'
                                      description: Instagram collaborative posts (the native "Collab" feature). The full list of co-author accounts on the post, as `{ id, username, full_name, is_verified, profile_pic_url }`. A collab post has ONE producer and appears in every co-author's grid, so `post.author` is whichever account created it, which is not necessarily the profile you queried. The complete set of accounts on a post is `post.author.username` plus every `username` in this array. An empty array means Instagram reports the post as NOT a collab; the field is absent on surfaces that carry no co-author signal, including `/v1/instagram/post` (its web source ships the field permanently empty, so use `/v1/instagram/post/stats` for a single post).
                                      items:
                                        type: string
                                        description: Instagram collaborative posts (the native "Collab" feature). The full list of co-author accounts on the post, as `{ id, username, full_name, is_verified, profile_pic_url }`. A collab post has ONE producer and appears in every co-author's grid, so `post.author` is whichever account created it, which is not necessarily the profile you queried. The complete set of accounts on a post is `post.author.username` plus every `username` in this array. An empty array means Instagram reports the post as NOT a collab; the field is absent on surfaces that carry no co-author signal, including `/v1/instagram/post` (its web source ships the field permanently empty, so use `/v1/instagram/post/stats` for a single post).
                                    music:
                                      type:
                                      - string
                                      - 'null'
                                      description: Leaf at post.ext.music
                                    sponsor_tags:
                                      type:
                                      - array
                                      - 'null'
                                      description: Array at post.ext.sponsor_tags
                                      items:
                                        type: string
                                        description: Leaf at post.ext.sponsor_tags
                                    location:
                                      type:
                                      - string
                                      - 'null'
                                      description: Leaf at post.ext.location
                                    reaction_counts:
                                      type:
                                      - array
                                      - 'null'
                                      description: Array at post.ext.reaction_counts
                                      items:
                                        type: string
                                        description: Leaf at post.ext.reaction_counts
                                    share_urn:
                                      type:
                                      - string
                                      - 'null'
                                      description: String at post.ext.share_urn
                                    post_type:
                                      type:
                                      - string
                                      - 'null'
                                      description: String at post.ext.post_type
                                    download_media_urls:
                                      type:
                                      - array
                                      - 'null'
                                      description: Array at post.ext.download_media_urls
                                      items:
                                        type: string
[...]
