openapi: 3.2.0
info:
  title: SocialCrawl Walmart API
  version: 1.0.0
  description: 'Unified social media data API - one API key, one consistent response format, 50 platforms, 400 endpoints. Power AI agents with clean social data.


    Slim variant: inline examples removed and the shared error responses hoisted into components. The full annotated spec is at https://www.socialcrawl.dev/openapi.json.'
  contact:
    name: SocialCrawl
    url: https://www.socialcrawl.dev
    email: support@socialcrawl.dev
servers:
- url: https://www.socialcrawl.dev/v1
  description: Production
security:
- ApiKeyAuth: []
tags:
- name: walmart
  description: Walmart endpoints
paths:
  /walmart/product:
    get:
      summary: Get a Walmart product by id
      description: 'Returns full product detail for a Walmart item: title, brand, model, UPC, both descriptions, current and list price, rating with its 1-5 star breakdown, recommended percentage, image gallery, specifications, availability, seller, condition, and return-policy window. Accepts either the numeric item id from a walmart.com/ip/ URL or Walmart''s alphanumeric catalog id. For this product''s written reviews call GET /v1/walmart/reviews with the same id; for every seller offering it, GET /v1/walmart/offers.'
      tags:
      - walmart
      operationId: get_walmart_product
      security:
      - ApiKeyAuth: []
      x-credit-tier: advanced
      x-credit-cost: 5
      parameters:
      - name: product_id
        in: query
        required: true
        description: Walmart product id. Either the numeric item id from the product URL (walmart.com/ip/<name>/17835006350) or the alphanumeric catalog id (34J2GQ9D9TFM). Both resolve to the same product.
        schema:
          type: string
      - name: country
        in: query
        required: false
        description: 'Walmart marketplace as a two-letter country code: US (walmart.com, default) or CA (walmart.ca). A product id from one marketplace will not resolve in the other.'
        schema:
          type: string
          enum:
          - US
          - CA
      - name: Cache-Control
        in: header
        required: false
        description: Send `no-cache` to bypass the response cache and force a live fetch. Billed at the normal endpoint cost; the fresh result is written back to cache for the next caller. Only the `no-cache` directive triggers this. See the Response Schema guide for details.
        schema:
          type: string
      - name: Idempotency-Key
        in: header
        required: false
        description: 'Optional UUID that makes the request safely retriable. A replay keeps the cached payload immutable except for billing metadata: `credits_used` becomes 0, `idempotent_replay` becomes true, and `credits_remaining` is refreshed to the current balance. A known current balance appears in both the body and `X-Credits-Remaining` header; no balance row resolves to 0. On a transient lookup failure, body `credits_remaining` is null and `X-Credits-Remaining` is omitted. Scoped per account with a 24-hour TTL.'
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          headers:
            X-Credits-Used:
              description: Net credits charged for this response. Idempotency replays report 0.
              schema:
                type: integer
                minimum: 0
            X-Credits-Remaining:
              description: Current balance when known. On an idempotency replay, this header is omitted when the balance lookup fails; body `credits_remaining` is null instead.
              schema:
                type: integer
                minimum: 0
            X-Idempotent-Replay:
              description: Present with value `true` only when this response replays a settled idempotency record.
              schema:
                type: string
                enum:
                - 'true'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Whether the request succeeded
                  platform:
                    type: string
                    description: Platform name
                  endpoint:
                    type: string
                    description: API endpoint path
                  data:
                    type: object
                    description: Platform-specific response data
                    properties:
                      id:
                        type: string
                        description: Platform product ID (Amazon ASIN / Google Shopping product id)
                      url:
                        type:
                        - string
                        - 'null'
                        description: Direct URL to the product page
                      title:
                        type:
                        - string
                        - 'null'
                        description: Product title
                      description:
                        type:
                        - string
                        - 'null'
                        description: String at product.description
                      seller:
                        type:
                        - string
                        - 'null'
                        description: String at product.seller
                      brand:
                        type:
                        - string
                        - 'null'
                        description: Brand name (cleaned). Null when the platform exposes a seller instead.
                      price:
                        type: object
                        description: Price block (current, original/list, currency)
                        properties:
                          current:
                            type:
                            - integer
                            - 'null'
                            description: Numeric at product.price.current
                          original:
                            type:
                            - integer
                            - 'null'
                            description: Numeric at product.price.original
                          currency:
                            type:
                            - string
                            - 'null'
                            description: String at product.price.currency
                      rating:
                        type: object
                        description: Aggregate rating (average + number of ratings)
                        properties:
                          average:
                            type:
                            - integer
                            - 'null'
                            description: Numeric at product.rating.average
                          count:
                            type:
                            - integer
                            - 'null'
                            description: Numeric at product.rating.count
                      image_urls:
                        type:
                        - string
                        - array
                        - 'null'
                        description: Primary image URL, or an array of image URLs for products with a gallery.
                        items:
                          type: string
                          description: Primary image URL, or an array of image URLs for products with a gallery.
                      availability:
                        type:
                        - string
                        - 'null'
                        description: Stock/availability string when surfaced
                      reviews_count:
                        type:
                        - integer
                        - 'null'
                        description: Numeric at product.reviews_count
                      features:
                        type:
                        - array
                        - 'null'
                        description: Array at product.features
                        items:
                          type: string
                          description: String at product.features
                      specifications:
                        type:
                        - array
                        - 'null'
                        description: Array at product.specifications
                        items:
                          type: object
                          description: 'Nested object: product.specifications'
                          properties:
                            group:
                              type:
                              - string
                              - 'null'
                              description: String at product.specifications.group
                            name:
                              type:
                              - string
                              - 'null'
                              description: String at product.specifications.name
                            value:
                              type:
                              - string
                              - 'null'
                              description: String at product.specifications.value
                      variations:
                        type:
                        - array
                        - 'null'
                        description: Array at product.variations
                        items:
                          type: object
                          description: 'Nested object: product.variations'
                          properties:
                            id:
                              type:
                              - string
                              - 'null'
                              description: String at product.variations.id
                            title:
                              type:
                              - string
                              - 'null'
                              description: String at product.variations.title
                            url:
                              type:
                              - string
                              - 'null'
                              description: String at product.variations.url
                            category:
                              type:
                              - string
                              - 'null'
                              description: String at product.variations.category
                      ext:
                        type:
                        - object
                        - 'null'
                        description: 'Nested object: product.ext'
                        properties:
                          gid:
                            type:
                            - string
                            - 'null'
                            description: String at product.ext.gid
                          data_docid:
                            type:
                            - string
                            - 'null'
                            description: String at product.ext.data_docid
                          pvf:
                            type:
                            - string
                            - 'null'
                            description: String at product.ext.pvf
                          seller_id:
                            type:
                            - string
                            - 'null'
                            description: String at product.ext.seller_id
                          sold_count:
                            type:
                            - integer
                            - 'null'
                            description: Numeric at product.ext.sold_count
                          catalog_id:
                            type:
                            - string
                            - 'null'
                            description: String at product.ext.catalog_id
                          requested_id:
                            type:
                            - string
                            - 'null'
                            description: String at product.ext.requested_id
                          rating_distribution:
                            type:
                            - object
                            - 'null'
                            description: 'Nested object: product.ext.rating_distribution'
                            properties:
                              star_1:
                                type:
                                - integer
                                - 'null'
                                description: Numeric at product.ext.rating_distribution.star_1
                              star_2:
                                type:
                                - integer
                                - 'null'
                                description: Numeric at product.ext.rating_distribution.star_2
                              star_3:
                                type:
                                - integer
                                - 'null'
                                description: Numeric at product.ext.rating_distribution.star_3
                              star_4:
                                type:
                                - integer
                                - 'null'
                                description: Numeric at product.ext.rating_distribution.star_4
                              star_5:
                                type:
                                - integer
                                - 'null'
                                description: Numeric at product.ext.rating_distribution.star_5
                          store_inventory:
                            type:
                            - array
                            - 'null'
                            description: Array at product.ext.store_inventory
                            items:
                              type: object
                              description: 'Nested object: product.ext.store_inventory'
                              properties:
                                store_id:
                                  type:
                                  - string
                                  - 'null'
                                  description: String at product.ext.store_inventory.store_id
                                store_name:
                                  type:
                                  - string
                                  - 'null'
                                  description: String at product.ext.store_inventory.store_name
                                state:
                                  type:
                                  - string
                                  - 'null'
                                  description: String at product.ext.store_inventory.state
                                in_stock:
                                  type:
                                  - boolean
                                  - 'null'
                                  description: Boolean at product.ext.store_inventory.in_stock
                                quantity:
                                  type:
                                  - integer
                                  - 'null'
                                  description: Numeric at product.ext.store_inventory.quantity
                          condition:
                            type:
                            - string
                            - 'null'
                            description: String at product.ext.condition
                          available_quantity:
                            type:
                            - integer
                            - 'null'
                            description: Numeric at product.ext.available_quantity
                          watchers:
                            type:
                            - integer
                            - 'null'
                            description: Numeric at product.ext.watchers
                          sold_at:
                            type:
                            - string
                            - 'null'
                            description: String at product.ext.sold_at
                          sold_caption:
                            type:
                            - string
                            - 'null'
                            description: String at product.ext.sold_caption
                          buying_format:
                            type:
                            - string
                            - 'null'
                            description: String at product.ext.buying_format
                          seller_reputation:
                            type:
                            - object
                            - 'null'
                            description: 'Nested object: product.ext.seller_reputation'
                            properties:
                              feedback_percentage:
                                type:
                                - integer
                                - 'null'
                                description: Numeric at product.ext.seller_reputation.feedback_percentage
                              feedback_count:
                                type:
                                - integer
                                - 'null'
                                description: Numeric at product.ext.seller_reputation.feedback_count
                              top_rated:
                                type:
                                - boolean
                                - 'null'
                                description: Boolean at product.ext.seller_reputation.top_rated
                              items_sold:
                                type:
                                - integer
                                - 'null'
                                description: Numeric at product.ext.seller_reputation.items_sold
                              joined:
                                type:
                                - string
                                - 'null'
                                description: String at product.ext.seller_reputation.joined
                              url:
                                type:
                                - string
                                - 'null'
                                description: String at product.ext.seller_reputation.url
                              detailed_ratings:
                                type:
                                - object
                                - 'null'
                                description: 'Nested object: product.ext.seller_reputation.detailed_ratings'
                                properties:
                                  accurate_description:
                                    type:
                                    - integer
                                    - 'null'
                                    description: Numeric at product.ext.seller_reputation.detailed_ratings.accurate_description
                                  reasonable_shipping_cost:
                                    type:
                                    - integer
                                    - 'null'
                                    description: Numeric at product.ext.seller_reputation.detailed_ratings.reasonable_shipping_cost
                                  shipping_speed:
                                    type:
                                    - integer
                                    - 'null'
                                    description: Numeric at product.ext.seller_reputation.detailed_ratings.shipping_speed
                                  communication:
                                    type:
                                    - integer
                                    - 'null'
                                    description: Numeric at product.ext.seller_reputation.detailed_ratings.communication
                      _warnings:
                        type: array
                        description: 'Non-fatal notices about this response (field-map drift, clamped computed values). Advisory only: its presence never means the request failed. Omitted entirely when there is nothing to report, so treat absent as ''no warnings''.'
                        items:
                          type: string
                          description: One advisory notice.
                  credits_used:
                    type: integer
                    description: Number of credits consumed
                  credits_remaining:
                    type:
                    - integer
                    - 'null'
                    description: Current account balance. Null only when an idempotency replay succeeds but its transient balance lookup fails.
                  request_id:
                    type: string
                    description: Unique request identifier for support
                  cached:
                    type: boolean
                    description: Whether the response was served from cache
                  idempotent_replay:
                    type: boolean
                    description: True only when this response is an idempotency replay
                required:
                - success
                - platform
                - endpoint
                - data
                - credits_used
                - credits_remaining
                - request_id
                - cached
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '402':
          $ref: '#/components/responses/Error402'
        '404':
          $ref: '#/components/responses/Error404'
        '405':
          $ref: '#/components/responses/Error405'
        '409':
          $ref: '#/components/responses/Error409'
        '413':
          $ref: '#/components/responses/Error413'
        '422':
          $ref: '#/components/responses/Error422'
        '429':
          $ref: '#/components/responses/Error429'
        '500':
          $ref: '#/components/responses/Error500'
        '502':
          $ref: '#/components/responses/Error502'
        '503':
          $ref: '#/components/responses/Error503'
  /walmart/reviews:
    get:
      summary: Get Walmart product reviews
      description: 'Returns written customer reviews for a Walmart product, up to 50 per call, each with the full review text, star rating, author, date, helpful-vote count, verified-purchase flag, and any reviewer photos. Filter to a single star rating with the rating parameter, which is applied exactly. The sort parameter changes which reviews Walmart returns but does NOT currently guarantee the returned page is ordered: measured against the live source, rating_high_low and rating_low_high return the same set, and recent is not strictly newest-first. Sort client-side if you need a guaranteed order. Consecutive pages can also repeat a small number of reviews, because the underlying review feed shifts between calls, so de-duplicate by review id when crawling.'
      tags:
      - walmart
      operationId: get_walmart_reviews
      security:
      - ApiKeyAuth: []
      x-credit-tier: advanced
      x-credit-cost: 5
      parameters:
      - name: product_id
        in: query
        required: true
        description: Walmart product id, numeric or alphanumeric. The same id accepted by GET /v1/walmart/product.
        schema:
          type: string
      - name: page
        in: query
        required: false
        description: 'Page number, starting at 1. Prefer the universal cursor parameter. Native upstream cursor param. Send the universal `cursor` instead: the API maps it to this name for you.'
        deprecated: true
        schema:
          type: integer
          minimum: 1
          maximum: 100
      - name: limit
        in: query
        required: false
        description: Reviews per page, 1 to 50. Defaults to 10. Honoured exactly.
        schema:
          type: integer
          minimum: 1
          maximum: 50
      - name: sort
        in: query
        required: false
        description: 'Which reviews to return: relevancy (default), recent, rating_high_low, or rating_low_high. Changes the selection but does not guarantee the returned page is ordered; sort client-side if you need a strict order.'
        schema:
          type: string
          enum:
          - relevancy
          - recent
          - rating_high_low
          - rating_low_high
      - name: rating
        in: query
        required: false
        description: Return only reviews with this exact star rating, 1 to 5. Applied exactly.
        schema:
          type: integer
          minimum: 1
          maximum: 5
      - name: country
        in: query
        required: false
        description: 'Walmart marketplace as a two-letter country code: US (walmart.com, default) or CA (walmart.ca). A product id from one marketplace will not resolve in the other.'
        schema:
          type: string
          enum:
          - US
          - CA
      - name: cursor
        in: query
        required: false
        description: 'Universal pagination cursor. Send `pagination.next_cursor` from the previous response back verbatim: the API maps it to this endpoint''s native `page` (page style). You never construct, decode, or look up a cursor. Omit it for page 1.'
        schema:
          type: string
      - name: Cache-Control
        in: header
        required: false
        description: Send `no-cache` to bypass the response cache and force a live fetch. Billed at the normal endpoint cost; the fresh result is written back to cache for the next caller. Only the `no-cache` directive triggers this. See the Response Schema guide for details.
        schema:
          type: string
      - name: Idempotency-Key
        in: header
        required: false
        description: 'Optional UUID that makes the request safely retriable. A replay keeps the cached payload immutable except for billing metadata: `credits_used` becomes 0, `idempotent_replay` becomes true, and `credits_remaining` is refreshed to the current balance. A known current balance appears in both the body and `X-Credits-Remaining` header; no balance row resolves to 0. On a transient lookup failure, body `credits_remaining` is null and `X-Credits-Remaining` is omitted. Scoped per account with a 24-hour TTL.'
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          headers:
            X-Credits-Used:
              description: Net credits charged for this response. Idempotency replays report 0.
              schema:
                type: integer
                minimum: 0
            X-Credits-Remaining:
              description: Current balance when known. On an idempotency replay, this header is omitted when the balance lookup fails; body `credits_remaining` is null instead.
              schema:
                type: integer
                minimum: 0
            X-Idempotent-Replay:
              description: Present with value `true` only when this response replays a settled idempotency record.
              schema:
                type: string
                enum:
                - 'true'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Whether the request succeeded
                  platform:
                    type: string
                    description: Platform name
                  endpoint:
                    type: string
                    description: API endpoint path
                  data:
                    type: object
                    description: Platform-specific response data
                    properties:
                      items:
                        type: array
                        description: Array of canonical review wrappers ({ review })
                        items:
                          type: object
                          description: Canonical review wrapper
                          properties:
                            review:
                              type: object
                              description: Canonical Review object (shared across commerce platforms)
                              properties:
                                id:
                                  type: string
                                  description: Review ID (parsed from the review URL when not first-class)
                                entity_id:
                                  type:
                                  - string
                                  - 'null'
                                  description: ID of the reviewed entity (e.g. the Amazon ASIN)
                                url:
                                  type:
                                  - string
                                  - 'null'
                                  description: String at review.url
                                title:
                                  type:
                                  - string
                                  - 'null'
                                  description: String at review.title
                                text:
                                  type:
                                  - string
                                  - 'null'
                                  description: Full review body
                                rating:
                                  type: object
                                  description: Star rating (value + max)
                                  properties:
                                    value:
                                      type:
                                      - integer
                                      - 'null'
                                      description: Numeric at review.rating.value
                                    max:
                                      type:
                                      - integer
                                      - 'null'
                                      description: Numeric at review.rating.max
                                author:
                                  type: object
                                  description: 'Nested object: review.author'
                                  properties:
                                    name:
                                      type:
                                      - string
                                      - 'null'
                                      description: String at review.author.name
                                    avatar_url:
                                      type:
                                      - string
                                      - 'null'
                                      description: String at review.author.avatar_url
                                    url:
                                      type:
                                      - string
                                      - 'null'
                                      description: String at review.author.url
                                    location:
                                      type:
                                      - string
                                      - 'null'
                                      description: String at review.author.location
                                    reviews_count:
                                      type:
                                      - integer
                                      - 'null'
                                      description: Numeric at review.author.reviews_count
                                helpful_votes:
                                  type:
                                  - integer
                                  - 'null'
                                  description: Helpful-vote count (Amazon; null elsewhere)
                                verified:
                                  type:
                                  - boolean
                                  - 'null'
                                  description: Verified-purchase flag (Amazon; null elsewhere)
                                source:
                                  type:
                                  - string
                                  - 'null'
                                  description: String at review.source
                                language:
                                  type:
                                  - string
                                  - 'null'
                                  description: String at review.language
                                original_language:
                                  type:
                                  - string
                                  - 'null'
                                  description: String at review.original_language
                                translated:
                                  type:
                                  - boolean
                                  - 'null'
                                  description: Boolean at review.translated
                                images:
                                  type:
                                  - array
                                  - 'null'
                                  description: Array at review.images
                                  items:
                                    type: string
                                    description: String at review.images
                                responses:
                                  type:
                                  - array
                                  - 'null'
                                  description: Array at review.responses
                                  items:
                                    type: object
                                    description: 'Nested object: review.responses'
                                    properties:
                                      id:
                                        type:
                                        - string
                                        - 'null'
                                        description: String at review.responses.id
                                      author:
                                        type:
                                        - string
                                        - 'null'
                                        description: String at review.responses.author
                                      text:
                                        type:
                                        - string
                                        - 'null'
                                        description: String at review.responses.text
                                      published_at:
                                        type:
                                        - string
                                        - integer
                                        - 'null'
                                        description: 'Union: string | integer | null'
                                published_at:
                                  type:
                                  - string
                                  - integer
                                  - 'null'
                                  description: 'Union: string | integer | null'
                                ext:
                                  type:
                                  - object
                                  - 'null'
                                  description: 'Nested object: review.ext'
                                  properties:
                                    appdata:
                                      type:
                                      - string
                                      - 'null'
                                      description: Leaf at review.ext.appdata
                                    tiktokshop:
                                      type:
                                      - string
                                      - 'null'
                                      description: Leaf at review.ext.tiktokshop
                      next_cursor:
                        type:
                        - string
                        - 'null'
                        description: Opaque cursor for the next page. Pass it back as a query parameter on endpoints that support pagination. Present only when the upstream reports more results.
                      total:
                        type:
                        - integer
                        - 'null'
                        description: Total number of matching results, when the upstream provides a count. Omitted otherwise.
                      dropped:
                        type: integer
                        description: Number of upstream list items dropped because they could not be repaired to the endpoint schema. Valid list responses include 0.
                      _warnings:
                        type: array
                        description: 'Non-fatal notices about this response (field-map drift, clamped computed values). Advisory only: its presence never means the request failed. Omitted entirely when there is nothing to report, so treat absent as ''no warnings''.'
                        items:
                          type: string
                          description: One advisory notice.
                    required:
                    - dropped
                  credits_used:
                    type: integer
                    description: Number of credits consumed
                  credits_remaining:
                    type:
                    - integer
                    - 'null'
                    description: Current account balance. Null only when an idempotency replay succeeds but its transient balance lookup fails.
                  request_id:
                    type: string
                    description: Unique request identifier for support
                  cached:
                    type: boolean
                    description: Whether the response was served from cache
                  idempotent_replay:
                    type: boolean
                    description: True only when this response is an idempotency replay
                  pagination:
                    type: object
                    description: Cursor state for this page. Present on every list response.
                    properties:
                      next_cursor:
                        type:
                        - string
                        - 'null'
                        description: Opaque token to send back as `cursor` for the next page, or null at end-of-list. Pass it back verbatim; never decode or trim it.
                      has_more:
                        type: boolean
                        description: Explicit stop signal. Prefer this over inspecting next_cursor or comparing against total.
                      page_size:
                        type: integer
                        description: Number of items in THIS page.
                    required:
                    - next_cursor
                    - has_more
                    - page_size
                required:
                - success
                - platform
                - endpoint
                - data
                - credits_used
                - credits_remaining
                - request_id
                - cached
                - pagination
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '402':
          $ref: '#/components/responses/Error402'
        '404':
          $ref: '#/components/responses/Error404'
        '405':
          $ref: '#/components/responses/Error405'
        '409':
          $ref: '#/components/responses/Error409'
        '413':
          $ref: '#/components/responses/Error413'
        '422':
          $ref: '#/components/responses/Error422'
        '429':
          $ref: '#/components/responses/Error429'
        '500':
          $ref: '#/components/responses/Error500'
        '502':
          $ref: '#/components/responses/Error502'
        '503':
          $ref: '#/components/responses/Error503'
  /walmart/search:
    get:
      summary: Search Walmart products by keyword
      description: 'Returns Walmart search results for a keyword: title, product id, URL, image, price, rating, review count, availability, seller, and shipping and pickup flags per product, with optional price, location, and store filters. A small number of rows carry no price even when in stock, in which case product.price.current is null rather than zero; call GET /v1/walmart/product with the returned product id for a guaranteed price. Also serves as the keyword-to-product-id resolver for the rest of the Walmart API.'
      tags:
      - walmart
      operationId: get_walmart_search
      security:
      - ApiKeyAuth: []
      x-credit-tier: advanced
      x-credit-cost: 5
      parameters:
      - name: query
        in: query
        required: true
        description: Search keyword or phrase.
        schema:
          type: string
      - name: page
        in: query
        required: false
        description: 'Page number, starting at 1. Prefer the universal cursor parameter. Native upstream cursor param. Send the universal `cursor` instead: the API maps it to this name for you.'
        deprecated: true
        schema:
          type: integer
          minimum: 1
          maximum: 100
      - name: sort_by
        in: query
        required: false
        description: 'Result ordering: best_match (default), price_low, price_high, best_seller, or top_rated.'
        schema:
          type: string
          enum:
          - best_match
          - price_low
          - price_high
          - best_seller
          - top_rated
      - name: min_price
        in: query
        required: false
        description: 'Lowest price to include. Must be below max_price when both are set. Applied by Walmart and approximate: it narrows the result set but occasionally returns a row outside the bound, so filter on product.price.current if you need a hard limit.'
        schema:
          type: string
      - name: max_price
        in: query
        required: false
        description: 'Highest price to include. Must be above min_price when both are set. Applied by Walmart and approximate: it narrows the result set but occasionally returns a row outside the bound, so filter on product.price.current if you need a hard limit.'
        schema:
          type: string
      - name: zip_code
        in: query
        required: false
        description: ZIP code used to localise availability, pickup, and shipping options. Walmart pricing and stock are store-level, so results differ by location.
        schema:
          type: string
      - name: state
        in: query
        required: false
        description: Two-letter US state code used to localise results (for example CA, NY).
        schema:
          type: string
      - name: store_id
        in: query
        required: false
        description: Walmart store id, to restrict results to one physical store's assortment.
        schema:
          type: string
      - name: facet
        in: query
        required: false
        description: Opaque refinement token taken from a previous response's facet data (for example a brand or category filter).
        schema:
          type: string
      - name: country
        in: query
        required: false
        description: 'Walmart marketplace as a two-letter country code: US (walmart.com, default) or CA (walmart.ca). A product id from one marketplace will not resolve in the other.'
        schema:
          type: string
          enum:
          - US
          - CA
      - name: cursor
        in: query
        required: false
        description: 'Universal pagination cursor. Send `pagination.next_cursor` from the previous response back verbatim: the API maps it to this endpoint''s native `page` (page style). You never construct, decode, or look up a cursor. Omit it for page 1.'
        schema:
          type: string
      - name: Cache-Control
        in: header
        required: false
        description: Send `no-cache` to bypass the response cache and force a live fetch. Billed at the normal endpoint cost; the fresh result is written back to cache for the next caller. Only the `no-cache` directive triggers this. See the Response Schema guide for details.
        schema:
          type: string
      - name: Idempotency-Key
        in: header
        required: false
        description: 'Optional UUID that makes the request safely retriable. A replay keeps the cached payload immutable except for billing metadata: `credits_used` becomes 0, `idempotent_replay` becomes true, and `credits_remaining` is refreshed to the current balance. A known current balance appears in both the body and `X-Credits-Remaining` header; no balance row resolves to 0. On a transient lookup failure, body `credits_remaining` is null and `X-Credits-Remaining` is omitted. Scoped per account with a 24-hour TTL.'
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          headers:
            X-Credits-Used:
              description: Net credits charged for this response. Idempotency replays report 0.
              schema:
                type: integer
                minimum: 0
            X-Credits-Remaining:
              description: Current balance when known. On an idempotency replay, this header is omitted when the balance lookup fails; body `credits_remaining` is null instead.
              schema:
                type: integer
                minimum: 0
            X-Idempotent-Replay:
              description: Present with value `true` only when this response replays a settled idempotency record.
              schema:
                type: string
                enum:
                - 'true'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Whether the request succeeded
                  platform:
                    type: string
                    description: Platform name
                  endpoint:
                    type: string
                    description: API endpoint path
                  data:
                    type: object
                    description: Platform-specific response data
                    properties:
                      items:
                        type: array
                        description: Array of canonical product wrappers ({ product })
                        items:
                          type: object
                          description: Canonical product wrapper
                          properties:
                            product:
                              type: object
                              description: Canonical Product object (unified across commerce platforms)
                              properties:
                                id:
                                  type: string
                                  description: Platform product ID (Amazon ASIN / Google Shopping product id)
                                url:
                                  type:
                                  - string
                                  - 'null'
                                  description: Direct URL to the product page
                                title:
                                  type:
                                  - string
                                  - 'null'
                                  description: Product title
                                description:
                                  type:
                                  - string
                                  - 'null'
                                  description: String at product.description
                                seller:
                                  type:
                                  - string
                                  - 'null'
                                  description: String at product.seller
                                brand:
                                  type:
                                  - string
                                  - 'null'
                                  description: Brand name (cleaned). Null when the platform exposes a seller instead.
                                price:
                                  type: object
                                  description: Price block (current, original/list, currency)
                                  properties:
                                    current:
                                      type:
                                      - integer
                                      - 'null'
                                      description: Numeric at product.price.current
                                    original:
                                      type:
                                      - integer
                                      - 'null'
                                      description: Numeric at product.price.original
                                    currency:
                                      type:
                                      - string
                                      - 'null'
                                      description: String at product.price.currency
                                rating:
                                  type: object
                                  description: Aggregate rating (average + number of ratings)
                                  properties:
                                    average:
                                      type:
                                      - integer
                                      - 'null'
                                      description: Numeric at product.rating.average
                                    count:
                                      type:
                                      - integer
                                      - 'null'
                                      description: Numeric at product.rating.count
                                image_urls:
                                  type:
                                  - string
                                  - array
                                  - 'null'
                                  description: Primary image URL, or an array of image URLs for products with a gallery.
                                  items:
                                    type: string
                                    description: Primary image URL, or an array of image URLs for products with a gallery.
                                availability:
                                  type:
                                  - string
                                  - 'null'
                                  description: Stock/availability string when surfaced
                                reviews_count:
                                  type:
                                  - integer
                                  - 'null'
                                  description: Numeric at product.reviews_count
                                features:
                                  type:
                                  - array
                                  - 'null'
                                  description: Array at product.features
                                  items:
                                    type: string
                                    description: String at product.features
                                specifications:
                                  type:
                                  - array
                                  - 'null'
                                  description: Array at product.specifications
                                  items:
                                    type: object
                                    description: 'Nested object: product.specifications'
                                    properties:
                                      group:
                                        type:
                                        - string
                                        - 'null'
                                        description: String at product.specifications.group
                                      name:
                                        type:
                                        - string
                                        - 'null'
                                        description: String at product.specifications.name
                                      value:
                                        type:
                                        - string
                                        - 'null'
                                        description: String at product.specifications.value
                                variations:
                                  type:
                                  - array
                                  - 'null'
                                  description: Array at product.variations
                                  items:
                                    type: object
                                    description: 'Nested object: product.variations'
                                    properties:
                                      id:
                                        type:
                                        - string
                                        - 'null'
                                        description: String at product.variations.id
                                      title:
                                        type:
                                        - string
                                        - 'null'
                                        description: String at product.variations.title
                                      url:
                                        type:
                                        - string
                                        - 'null'
                                        description: String at product.variations.url
                                      category:
                                        type:
                                        - string
                                        - 'null'
                                        description: String at product.variations.category
                                ext:
                                  type:
                                  - object
                                  - 'null'
                                  description: 'Nested object: product.ext'
                                  properties:
                                    gid:
                                      type:
                                      - string
                                      - 'null'
                                      description: String at product.ext.gid
                                    data_docid:
                                      type:
                                      - string
                                      - 'null'
                                      description: String at product.ext.data_docid
                                    pvf:
                                      type:
                                      - string
                                      - 'null'
                                      description: String at product.ext.pvf
                                    seller_id:
                                      type:
                                      - string
                                      - 'null'
                                      description: String at product.ext.seller_id
                                    sold_count:
                                      type:
                                      - integer
                                      - 'null'
                                      description: Numeric at product.ext.sold_count
                                    catalog_id:
                                      type:
                                      - string
                                      - 'null'
                                      description: String at product.ext.catalog_id
                                    requested_id:
                                      type:
                                      - string
                                      - 'null'
                                      description: String at product.ext.requested_id
                                    rating_distribution:
                                      type:
                                      - object
                                      - 'null'
                                      description: 'Nested object: product.ext.rating_distribution'
                                      properties:
                                        star_1:
                                          type:
                                          - integer
                                          - 'null'
                                          description: Numeric at product.ext.rating_distribution.star_1
                                        star_2:
                                          type:
                                          - integer
                                          - 'null'
                                          description: Numeric at product.ext.rating_distribution.star_2
                                        star_3:
                                          type:
                                          - integer
                                          - 'null'
                                          description: Numeric at product.ext.rating_distribution.star_3
                                        star_4:
                                          type:
                                          - integer
                                          - 'null'
                                          description: Numeric at product.ext.rating_distribution.star_4
                                        star_5:
                                          type:
                                          - integer
                                          - 'null'
                                          description: Numeric at product.ext.rating_distribution.star_5
                                    store_inventory:
                                      type:
                                      - array
                                      - 'null'
                                      description: Array at product.ext.store_inventory
                                      items:
                                        type: object
                                        description: 'Nested object: product.ext.store_inventory'
                                        properties:
                                          store_id:
                                            type:
                                            - string
                                            - 'null'
                                            description: String at product.ext.store_inventory.store_id
                                          store_name:
                                            type:
                                            - string
                                            - 'null'
                                            description: String at product.ext.store_inventory.store_name
                                          state:
                                            type:
                                            - string
                                            - 'null'
                                            description: String at product.ext.store_inventory.state
                                          in_stock:
                                            type:
                                            - boolean
                                            - 'null'
                                            description: Boolean at product.ext.store_inventory.in_stock
                                          quantity:
                                            type:
                                            - integer
                                            - 'null'
                                            description: Numeric at product.ext.store_inventory.quantity
                                    condition:
                                      type:
                                      - string
                                      - 'null'
                                      description: String at product.ext.condition
                                    available_quantity:
                                      type:
                                      - integer
                                      - 'null'
                                      description: Numeric at product.ext.available_quantity
                                    watchers:
                                      type:
                                      - integer
                                      - 'null'
                                      description: Numeric at product.ext.watchers
                                    sold_at:
                                      type:
                                      - string
                                      - 'null'
                                      description: String at product.ext.sold_at
                                    sold_caption:
                                      type:
                                      - string
                                      - 'null'
                                      description: String at product.ext.sold_caption
                                    buying_format:
                                      type:
                                      - string
                                      - 'null'
                                      description: String at product.ext.buying_format
                                    seller_reputation:
                                      type:
                                      - object
                                      - 'null'
                                      description: 'Nested object: product.ext.seller_reputation'
                                      properties:
                                        feedback_percentage:
                                          type:
                                          - integer
                                          - 'null'
                                          description: Numeric at product.ext.seller_reputation.feedback_percentage
                                        feedback_count:
                                          type:
                                          - integer
                                          - 'null'
                                          description: Numeric at product.ext.seller_reputation.feedback_count
                                        top_rated:
                                          type:
                                          - boolean
                                          - 'null'
                                          description: Boolean at product.ext.seller_reputation.top_rated
                                        items_sold:
                                          type:
                                          - integer
                                          - 'null'
                                          description: Numeric at product.ext.seller_reputation.items_sold
                                        joined:
                                          type:
                                          - string
                                          - 'null'
                                          description: String at product.ext.seller_reputation.joined
                                        url:
                                          type:
                                          - string
                                          - 'null'
                                          description: String at product.ext.seller_reputation.url
                                        detailed_ratings:
                                          type:
                                          - object
                                          - 'null'
                                          description: 'Nested object: product.ext.seller_reputation.detailed_ratings'
                                          properties:
                                            accurate_description:
                                              type:
                                              - integer
                                              - 'null'
                                              description: Numeric at product.ext.seller_reputation.detailed_ratings.accurate_description
                                            reasonable_shipping_cost:
                                              type:
                                              - integer
                                              - 'null'
                                              description: Numeric at product.ext.seller_reputation.detailed_ratings.reasonable_shipping_cost
                                            shipping_speed:
                                              type:
                                              - integer
                                              - 'null'
                                              description: Numeric at product.ext.seller_reputation.detailed_ratings.shipping_speed
                                            communication:
                                              type:
                                              - integer
                                              - 'null'
                                              description: Numeric at product.ext.seller_reputation.detailed_ratings.communication
                      next_cursor:
                        type:
                        - string
                        - 'null'
                        description: Opaque cursor for the next page. Pass it back as a query parameter on endpoints that support pagination. Present only when the upstream reports more results.
                      total:
                        type:
                        - integer
                        - 'null'
                        description: Total number of matching results, when the upstream provides a count. Omitted otherwise.
                      dropped:
                        type: integer
                        description: Number of upstream list items dropped because they could not be repaired to the endpoint schema. Valid list responses include 0.
                      _warnings:
                        type: array
                        description: 'Non-fatal notices about this response (field-map drift, clamped computed values). Advisory only: its presence never means the request failed. Omitted entirely when there is nothing to report, so treat absent as ''no warnings''.'
                        items:
                          type: string
                          description: One advisory notice.
                    required:
                    - dropped
                  credits_used:
                    type: integer
                    description: Number of credits consumed
                  credits_remaining:
                    type:
                    - integer
                    - 'null'
                    description: Current account balance. Null only when an idempotency replay succeeds but its transient balance lookup fails.
                  request_id:
                    type: string
                    description: Unique request identifier for support
                  cached:
                    type: boolean
                    description: Whether the response was served from cache
                  idempotent_replay:
                    type: boolean
                    description: True only when this response is an idempotency replay
                  pagination:
                    type: object
                    description: Cursor state for this page. Present on every list response.
                    properties:
                      next_cursor:
                        type:
                        - string
                        - 'null'
                        description: Opaque token to send back as `cursor` for the next page, or null at end-of-list. Pass it back verbatim; never decode or trim it.
                      has_more:
                        type: boolean
                        description: Explicit stop signal. Prefer this over inspecting next_cursor or comparing against total.
                      page_size:
                        type: integer
                        description: Number of items in THIS page.
                    required:
                    - next_cursor
                    - has_more
                    - page_size
                required:
                - success
                - platform
                - endpoint
                - data
                - credits_used
                - credits_remaining
                - request_id
                - cached
                - pagination
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '402':
          $ref: '#/components/responses/Error402'
        '404':
          $ref: '#/components/responses/Error404'
        '405':
          $ref: '#/components/responses/Error405'
        '409':
          $ref: '#/components/responses/Error409'
        '413':
          $ref: '#/components/responses/Error413'
        '422':
          $ref: '#/components/responses/Error422'
        '429':
          $ref: '#/components/responses/Error429'
        '500':
          $ref: '#/components/responses/Error500'
        '502':
          $ref: '#/components/responses/Error502'
        '503':
          $ref: '#/components/responses/Error503'
  /walmart/category:
    get:
      summary: Browse Walmart products in a category
      description: 'Returns products listed in a Walmart category, up to 100 per call, with title, price, rating, review count, image, availability, and seller. Unlike keyword search this endpoint DOES return real prices, which makes it the better source for price monitoring across a product set. Category ids appear in the category URLs on a product detail response (for example 3944 for Electronics). Two upstream caveats measured against the live source: sort_by is applied loosely and does not guarantee a globally ordered page (sort client-side if you need one), and brand is not populated on category rows, so read it from GET /v1/walmart/product when you need it.'
      tags:
      - walmart
      operationId: get_walmart_category
      security:
      - ApiKeyAuth: []
      x-credit-tier: advanced
      x-credit-cost: 5
      parameters:
      - name: category_id
        in: query
        required: true
        description: Walmart category id, for example 3944 for Electronics. Category ids and their URLs are returned in the categories array of GET /v1/walmart/product.
        schema:
          type: string
      - name: page
        in: query
        required: false
        description: 'Page number, starting at 1. Prefer the universal cursor parameter. Native upstream cursor param. Send the universal `cursor` instead: the API maps it to this name for you.'
        deprecated: true
        schema:
          type: integer
          minimum: 1
          maximum: 100
      - name: sort_by
        in: query
        required: false
        description: 'Result ordering: best_match (default), price_low, price_high, best_seller, or top_rated.'
        schema:
          type: string
          enum:
          - best_match
          - price_low
          - price_high
          - best_seller
          - top_rated
      - name: min_price
        in: query
        required: false
        description: 'Lowest price to include. Must be below max_price when both are set. Applied by Walmart and approximate: it narrows the result set but occasionally returns a row outside the bound, so filter on product.price.current if you need a hard limit.'
        schema:
          type: string
      - name: max_price
        in: query
        required: false
        description: 'Highest price to include. Must be above min_price when both are set. Applied by Walmart and approximate: it narrows the result set but occasionally returns a row outside the bound, so filter on product.price.current if you need a hard limit.'
        schema:
          type: string
      - name: zip_code
        in: query
        required: false
        description: ZIP code used to localise availability, pickup, and shipping options. Walmart pricing and stock are store-level, so results differ by location.
        schema:
          type: string
      - name: state
        in: query
        required: false
        description: Two-letter US state code used to localise results (for example CA, NY).
        schema:
          type: string
      - name: store_id
        in: query
        required: false
        description: Walmart store id, to restrict results to one physical store's assortment.
        schema:
          type: string
      - name: facet
        in: query
        required: false
        description: Opaque refinement token taken from a previous response's facet data (for example a brand or category filter).
        schema:
          type: string
      - name: country
        in: query
        required: false
        description: 'Walmart marketplace as a two-letter country code: US (walmart.com, default) or CA (walmart.ca). A product id from one marketplace will not resolve in the other.'
        schema:
          type: string
          enum:
          - US
          - CA
      - name: limit
        in: query
        required: false
        description: 'Products per page, 1 to 100. Defaults to 40. Enforced by SocialCrawl: the page is trimmed to exactly this many rows.'
        schema:
          type: integer
          minimum: 1
          maximum: 100
      - name: cursor
        in: query
        required: false
        description: 'Universal pagination cursor. Send `pagination.next_cursor` from the previous response back verbatim: the API maps it to this endpoint''s native `page` (page style). You never construct, decode, or look up a cursor. Omit it for page 1.'
        schema:
          type: string
      - name: Cache-Control
        in: header
        required: false
        description: Send `no-cache` to bypass the response cache and force a live fetch. Billed at the normal endpoint cost; the fresh result is written back to cache for the next caller. Only the `no-cache` directive triggers this. See the Response Schema guide for details.
        schema:
          type: string
      - name: Idempotency-Key
        in: header
        required: false
        description: 'Optional UUID that makes the request safely retriable. A replay keeps the cached payload immutable except for billing metadata: `credits_used` becomes 0, `idempotent_replay` becomes true, and `credits_remaining` is refreshed to the current balance. A known current balance appears in both the body and `X-Credits-Remaining` header; no balance row resolves to 0. On a transient lookup failure, body `credits_remaining` is null and `X-Credits-Remaining` is omitted. Scoped per account with a 24-hour TTL.'
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          headers:
            X-Credits-Used:
              description: Net credits charged for this response. Idempotency replays report 0.
              schema:
                type: integer
                minimum: 0
            X-Credits-Remaining:
              description: Current balance when known. On an idempotency replay, this header is omitted when the balance lookup fails; body `credits_remaining` is null instead.
              schema:
                type: integer
                minimum: 0
            X-Idempotent-Replay:
              description: Present with value `true` only when this response replays a settled idempotency record.
              schema:
                type: string
                enum:
                - 'true'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Whether the request succeeded
                  platform:
                    type: string
                    description: Platform name
                  endpoint:
                    type: string
                    description: API endpoint path
                  data:
                    type: object
                    description: Platform-specific response data
                    properties:
                      items:
                        type: array
                        description: Array of canonical product wrappers ({ product })
                        items:
                          type: object
                          description: Canonical product wrapper
                          properties:
                            product:
                              type: object
                              description: Canonical Product object (unified across commerce platforms)
                              properties:
                                id:
                                  type: string
                                  description: Platform product ID (Amazon ASIN / Google Shopping product id)
                                url:
                                  type:
                                  - string
                                  - 'null'
                                  description: Direct URL to the product page
                                title:
                                  type:
                                  - string
                                  - 'null'
                                  description: Product title
                                description:
                                  type:
                                  - string
                                  - 'null'
                                  description: String at product.description
                                seller:
                                  type:
                                  - string
                                  - 'null'
                                  description: String at product.seller
                                brand:
                                  type:
                                  - string
                                  - 'null'
                                  description: Brand name (cleaned). Null when the platform exposes a seller instead.
                                price:
                                  type: object
                                  description: Price block (current, original/list, currency)
                                  properties:
                                    current:
                                      type:
                                      - integer
                                      - 'null'
                                      description: Numeric at product.price.current
                                    original:
                                      type:
                                      - integer
                                      - 'null'
                                      description: Numeric at product.price.original
                                    currency:
                                      type:
                                      - string
                                      - 'null'
                                      description: String at product.price.currency
                                rating:
                                  type: object
                                  description: Aggregate rating (average + number of ratings)
                                  properties:
                                    average:
                                      type:
                                      - integer
                                      - 'null'
                                      description: Numeric at product.rating.average
                                    count:
                                      type:
                                      - integer
                                      - 'null'
                                      description: Numeric at product.rating.count
                                image_urls:
                                  type:
                                  - string
                                  - array
                                  - 'null'
                                  description: Primary image URL, or an array of image URLs for products with a gallery.
                                  items:
                                    type: string
                                    description: Primary image URL, or an array of image URLs for products with a gallery.
                                availability:
                                  type:
                                  - string
                                  - 'null'
                                  description: Stock/availability string when surfaced
                                reviews_count:
                                  type:
                                  - integer
                                  - 'null'
                                  description: Numeric at product.reviews_count
                                features:
                                  type:
                                  - array
                                  - 'null'
                                  description: Array at product.features
                                  items:
                                    type: string
                                    description: String at product.features
                                specifications:
                                  type:
                                  - array
                                  - 'null'
                                  description: Array at product.specifications
                                  items:
                                    type: object
                                    description: 'Nested object: product.specifications'
                                    properties:
                                      group:
                                        type:
                                        - string
                                        - 'null'
                                        description: String at product.specifications.group
                                      name:
                                        type:
                                        - string
                                        - 'null'
                                        description: String at product.specifications.name
                                      value:
                                        type:
                                        - string
                                        - 'null'
                                        description: String at product.specifications.value
                                variations:
                                  type:
                                  - array
                                  - 'null'
                                  description: Array at product.variations
                                  items:
                                    type: object
                                    description: 'Nested object: product.variations'
                                    properties:
                                      id:
                                        type:
                                        - string
                                        - 'null'
                                        description: String at product.variations.id
                                      title:
                                        type:
                                        - string
                                        - 'null'
                                        description: String at product.variations.title
                                      url:
                                        type:
                                        - string
                                        - 'null'
                                        description: String at product.variations.url
                                      category:
                                        type:
                                        - string
                                        - 'null'
                                        description: String at product.variations.category
                                ext:
                                  type:
                                  - object
                                  - 'null'
                                  description: 'Nested object: product.ext'
                                  properties:
                                    gid:
                                      type:
                                      - string
                                      - 'null'
                                      description: String at product.ext.gid
                                    data_docid:
                                      type:
                                      - string
                                      - 'null'
                                      description: String at product.ext.data_docid
                                    pvf:
                                      type:
                                      - string
                                      - 'null'
                                      description: String at product.ext.pvf
                                    seller_id:
                                      type:
                                      - string
                                      - 'null'
                                      description: String at product.ext.seller_id
                                    sold_count:
                                      type:
                                      - integer
                                      - 'null'
                                      description: Numeric at product.ext.sold_count
                                    catalog_id:
                                      type:
                                      - string
                                      - 'null'
                                      description: String at product.ext.catalog_id
                                    requested_id:
                                      type:
                                      - string
                                      - 'null'
                                      description: String at product.ext.requested_id
                                    rating_distribution:
                                      type:
                                      - object
                                      - 'null'
                                      description: 'Nested object: product.ext.rating_distribution'
                                      properties:
                                        star_1:
                                          type:
                                          - integer
                                          - 'null'
                                          description: Numeric at product.ext.rating_distribution.star_1
                                        star_2:
                                          type:
                                          - integer
                                          - 'null'
                                          description: Numeric at product.ext.rating_distribution.star_2
                                        star_3:
                                          type:
                                          - integer
                                          - 'null'
                                          description: Numeric at product.ext.rating_distribution.star_3
                                        star_4:
                                          type:
                                          - integer
                                          - 'null'
                                          description: Numeric at product.ext.rating_distribution.star_4
                                        star_5:
                                          type:
                                          - integer
                                          - 'null'
                                          description: Numeric at product.ext.rating_distribution.star_5
                                    store_inventory:
                                      type:
                                      - array
                                      - 'null'
                                      description: Array at product.ext.store_inventory
                                      items:
                                        type: object
                                        description: 'Nested object: product.ext.store_inventory'
                                        properties:
                                          store_id:
                                            type:
                                            - string
                                            - 'null'
                                            description: String at product.ext.store_inventory.store_id
                                          store_name:
                                            type:
                                            - string
                                            - 'null'
                                            description: String at product.ext.store_inventory.store_name
                                          state:
                                            type:
                                            - string
                                            - 'null'
                                            description: String at product.ext.store_inventory.state
                                          in_stock:
                                            type:
                                            - boolean
                                            - 'null'
                                            description: Boolean at product.ext.store_inventory.in_stock
                                          quantity:
                                            type:
                                            - integer
                                            - 'null'
                                            description: Numeric at product.ext.store_inventory.quantity
                                    condition:
                                      type:
                                      - string
                                      - 'null'
                                      description: String at product.ext.condition
                                    available_quantity:
                                      type:
                                      - integer
                                      - 'null'
                                      description: Numeric at product.ext.available_quantity
                                    watchers:
                                      type:
                                      - integer
                                      - 'null'
                                      description: Numeric at product.ext.watchers
                                    sold_at:
                                      type:
                                      - string
                                      - 'null'
                                      description: String at product.ext.sold_at
                                    sold_caption:
                                      type:
                                      - string
                                      - 'null'
                                      description: String at product.ext.sold_caption
                                    buying_format:
                                      type:
                                      - string
                                      - 'null'
                                      description: String at product.ext.buying_format
                                    seller_reputation:
                                      type:
                                      - object
                                      - 'null'
                                      description: 'Nested object: product.ext.seller_reputation'
                                      properties:
                                        feedback_percentage:
                                          type:
                                          - integer
                                          - 'null'
                                          description: Numeric at product.ext.seller_reputation.feedback_percentage
                                        feedback_count:
                                          type:
                                          - integer
                                          - 'null'
                                          description: Numeric at product.ext.seller_reputation.feedback_count
                                        top_rated:
                                          type:
                                          - boolean
                                          - 'null'
                                          description: Boolean at product.ext.seller_reputation.top_rated
                                        items_sold:
                                          type:
                                          - integer
                                          - 'null'
                                          description: Numeric at product.ext.seller_reputation.items_sold
                                        joined:
                                          type:
                                          - string
                                          - 'null'
                                          description: String at product.ext.seller_reputation.joined
                                        url:
                                          type:
                                          - string
                                          - 'null'
                                          description: String at product.ext.seller_reputation.url
                                        detailed_ratings:
                                          type:
                                          - object
                                          - 'null'
                                          description: 'Nested object: product.ext.seller_reputation.detailed_ratings'
                                          properties:
                                            accurate_description:
                                              type:
                                              - integer
                                              - 'null'
                                              description: Numeric at product.ext.seller_reputation.detailed_ratings.accurate_description
                                            reasonable_shipping_cost:
                                              type:
                                              - integer
                                              - 'null'
                                              description: Numeric at product.ext.seller_reputation.detailed_ratings.reasonable_shipping_cost
                                            shipping_speed:
                                              type:
                                              - integer
                                              - 'null'
                                              description: Numeric at product.ext.seller_reputation.detailed_ratings.shipping_speed
                                            communication:
                                              type:
                                              - integer
                                              - 'null'
                                              description: Numeric at product.ext.seller_reputation.detailed_ratings.communication
                      next_cursor:
                        type:
                        - string
                        - 'null'
                        description: Opaque cursor for the next page. Pass it back as a query parameter on endpoints that support pagination. Present only when the upstream reports more results.
                      total:
                        type:
                        - integer
                        - 'null'
                        description: Total number of matching results, when the upstream provides a count. Omitted otherwise.
                      dropped:
                        type: integer
                        description: Number of upstream list items dropped because they could not be repaired to the endpoint schema. Valid list responses include 0.
                      _warnings:
                        type: array
                        description: 'Non-fatal notices about this response (field-map drift, clamped computed values). Advisory only: its presence never means the request failed. Omitted entirely when there is nothing to report, so treat absent as ''no warnings''.'
                        items:
                          type: string
[...]
