openapi: 3.2.0
info:
  title: SocialCrawl Google Play API
  version: 1.0.0
  description: 'Unified social media data API - one API key, one consistent response format, 50 platforms, 400 endpoints. Power AI agents with clean social data.


    Slim variant: inline examples removed and the shared error responses hoisted into components. The full annotated spec is at https://www.socialcrawl.dev/openapi.json.'
  contact:
    name: SocialCrawl
    url: https://www.socialcrawl.dev
    email: support@socialcrawl.dev
servers:
- url: https://www.socialcrawl.dev/v1
  description: Production
security:
- ApiKeyAuth: []
tags:
- name: google_play
  description: Google_play endpoints
paths:
  /google_play/app-search:
    get:
      summary: Search Google Play apps by keyword
      description: 'Returns a unified AppList of Google Play apps matching a keyword: title, icon, developer, rating, price/is_free, and store URL on every item, on the same canonical `App` shape used across every app marketplace (`app.store` = "google_play"). Detail-only fields (description, screenshots, installs) are null on search items; fetch /v1/google_play/app-info for the full record. Sourced from DataForSEO''s task-based App Data API (first calls ~7-15s, then cached).'
      tags:
      - google_play
      operationId: get_google_play_app_search
      security:
      - ApiKeyAuth: []
      x-credit-tier: advanced
      x-credit-cost: 5
      parameters:
      - name: query
        in: query
        required: true
        description: Search keyword (e.g. 'photo editor').
        schema:
          type: string
      - name: country
        in: query
        required: false
        description: Storefront country as an ISO code ('US'), a full name ('United States'), or a numeric location code ('2840'). Defaults to the US.
        schema:
          type: string
      - name: language
        in: query
        required: false
        description: Language code (e.g. 'en'). Defaults to 'en'.
        schema:
          type: string
      - name: depth
        in: query
        required: false
        description: 'Number of results to retrieve (default 30, rounded up to multiples of 30, max 300). Note: Google Play''s organic keyword search typically exposes only ~30 ranked results, so higher depth values rarely return more. To page deeper for app discovery, use /v1/google_play/app-listings-search (a filterable title/description database with real limit/offset/total).'
        schema:
          type: integer
      - name: Cache-Control
        in: header
        required: false
        description: Send `no-cache` to bypass the response cache and force a live fetch. Billed at the normal endpoint cost; the fresh result is written back to cache for the next caller. Only the `no-cache` directive triggers this. See the Response Schema guide for details.
        schema:
          type: string
      - name: Idempotency-Key
        in: header
        required: false
        description: 'Optional UUID that makes the request safely retriable. A replay keeps the cached payload immutable except for billing metadata: `credits_used` becomes 0, `idempotent_replay` becomes true, and `credits_remaining` is refreshed to the current balance. A known current balance appears in both the body and `X-Credits-Remaining` header; no balance row resolves to 0. On a transient lookup failure, body `credits_remaining` is null and `X-Credits-Remaining` is omitted. Scoped per account with a 24-hour TTL.'
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          headers:
            X-Credits-Used:
              description: Net credits charged for this response. Idempotency replays report 0.
              schema:
                type: integer
                minimum: 0
            X-Credits-Remaining:
              description: Current balance when known. On an idempotency replay, this header is omitted when the balance lookup fails; body `credits_remaining` is null instead.
              schema:
                type: integer
                minimum: 0
            X-Idempotent-Replay:
              description: Present with value `true` only when this response replays a settled idempotency record.
              schema:
                type: string
                enum:
                - 'true'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Whether the request succeeded
                  platform:
                    type: string
                    description: Platform name
                  endpoint:
                    type: string
                    description: API endpoint path
                  data:
                    type: object
                    description: Platform-specific response data
                    properties:
                      items:
                        type: array
                        description: Array of canonical app wrappers ({ app })
                        items:
                          type: object
                          description: Canonical app wrapper
                          properties:
                            app:
                              type: object
                              description: Canonical App object (unified across app marketplaces)
                              properties:
                                id:
                                  type: string
                                  description: Store app ID (Google Play package name / App Store numeric id)
                                store:
                                  type: string
                                  description: App marketplace ("google_play" or "app_store")
                                url:
                                  type:
                                  - string
                                  - 'null'
                                  description: String at app.url
                                title:
                                  type:
                                  - string
                                  - 'null'
                                  description: App title
                                icon:
                                  type:
                                  - string
                                  - 'null'
                                  description: String at app.icon
                                description:
                                  type:
                                  - string
                                  - 'null'
                                  description: String at app.description
                                developer:
                                  type: object
                                  description: Developer block (name, id, url; email/address for Google)
                                  properties:
                                    id:
                                      type:
                                      - string
                                      - 'null'
                                      description: String at app.developer.id
                                    name:
                                      type:
                                      - string
                                      - 'null'
                                      description: String at app.developer.name
                                    url:
                                      type:
                                      - string
                                      - 'null'
                                      description: String at app.developer.url
                                    email:
                                      type:
                                      - string
                                      - 'null'
                                      description: String at app.developer.email
                                    address:
                                      type:
                                      - string
                                      - 'null'
                                      description: String at app.developer.address
                                    website:
                                      type:
                                      - string
                                      - 'null'
                                      description: String at app.developer.website
                                rating:
                                  type: object
                                  description: Aggregate rating (value, max, number of ratings)
                                  properties:
                                    value:
                                      type:
                                      - integer
                                      - 'null'
                                      description: Numeric at app.rating.value
                                    max:
                                      type:
                                      - integer
                                      - 'null'
                                      description: Numeric at app.rating.max
                                    count:
                                      type:
                                      - integer
                                      - 'null'
                                      description: Numeric at app.rating.count
                                price:
                                  type: object
                                  description: Price block (current, original, currency, is_free, displayed)
                                  properties:
                                    current:
                                      type:
                                      - integer
                                      - 'null'
                                      description: Numeric at app.price.current
                                    original:
                                      type:
                                      - integer
                                      - 'null'
                                      description: Numeric at app.price.original
                                    currency:
                                      type:
                                      - string
                                      - 'null'
                                      description: String at app.price.currency
                                    is_free:
                                      type:
                                      - boolean
                                      - 'null'
                                      description: Boolean at app.price.is_free
                                    displayed:
                                      type:
                                      - string
                                      - 'null'
                                      description: String at app.price.displayed
                                reviews_count:
                                  type:
                                  - integer
                                  - 'null'
                                  description: Numeric at app.reviews_count
                                category:
                                  type:
                                  - string
                                  - 'null'
                                  description: String at app.category
                                categories:
                                  type:
                                  - array
                                  - 'null'
                                  description: Array at app.categories
                                  items:
                                    type: string
                                    description: String at app.categories
                                installs:
                                  type:
                                  - object
                                  - 'null'
                                  description: 'Install signal (Google only): { display "1,000,000,000+", count }; null on Apple'
                                  properties:
                                    display:
                                      type:
                                      - string
                                      - 'null'
                                      description: String at app.installs.display
                                    count:
                                      type:
                                      - integer
                                      - 'null'
                                      description: Numeric at app.installs.count
                                version:
                                  type:
                                  - string
                                  - 'null'
                                  description: String at app.version
                                minimum_os_version:
                                  type:
                                  - string
                                  - 'null'
                                  description: String at app.minimum_os_version
                                size:
                                  type:
                                  - string
                                  - 'null'
                                  description: String at app.size
                                released_at:
                                  type:
                                  - string
                                  - integer
                                  - 'null'
                                  description: 'Union: string | integer | null'
                                updated_at:
                                  type:
                                  - string
                                  - integer
                                  - 'null'
                                  description: 'Union: string | integer | null'
                                update_notes:
                                  type:
                                  - string
                                  - 'null'
                                  description: String at app.update_notes
                                image_urls:
                                  type:
                                  - array
                                  - 'null'
                                  description: Screenshot URLs
                                  items:
                                    type: string
                                    description: Screenshot URLs
                                video_urls:
                                  type:
                                  - array
                                  - 'null'
                                  description: Array at app.video_urls
                                  items:
                                    type: string
                                    description: String at app.video_urls
                                languages:
                                  type:
                                  - array
                                  - 'null'
                                  description: Array at app.languages
                                  items:
                                    type: string
                                    description: String at app.languages
                                advisories:
                                  type:
                                  - array
                                  - 'null'
                                  description: Apple age/content advisories (null on Google)
                                  items:
                                    type: string
                                    description: Apple age/content advisories (null on Google)
                                genres:
                                  type:
                                  - array
                                  - 'null'
                                  description: Google Play genres (null on Apple)
                                  items:
                                    type: string
                                    description: Google Play genres (null on Apple)
                                tags:
                                  type:
                                  - array
                                  - 'null'
                                  description: Array at app.tags
                                  items:
                                    type: string
                                    description: String at app.tags
                                similar_apps:
                                  type:
                                  - array
                                  - 'null'
                                  description: Array at app.similar_apps
                                  items:
                                    type: object
                                    description: 'Nested object: app.similar_apps'
                                    properties:
                                      id:
                                        type:
                                        - string
                                        - 'null'
                                        description: String at app.similar_apps.id
                                      title:
                                        type:
                                        - string
                                        - 'null'
                                        description: String at app.similar_apps.title
                                      url:
                                        type:
                                        - string
                                        - 'null'
                                        description: String at app.similar_apps.url
                                more_by_developer:
                                  type:
                                  - array
                                  - 'null'
                                  description: Array at app.more_by_developer
                                  items:
                                    type: object
                                    description: 'Nested object: app.more_by_developer'
                                    properties:
                                      id:
                                        type:
                                        - string
                                        - 'null'
                                        description: String at app.more_by_developer.id
                                      title:
                                        type:
                                        - string
                                        - 'null'
                                        description: String at app.more_by_developer.title
                                      url:
                                        type:
                                        - string
                                        - 'null'
                                        description: String at app.more_by_developer.url
                                ext:
                                  type:
                                  - object
                                  - 'null'
                                  description: 'Nested object: app.ext'
                                  properties:
                                    appdata:
                                      type:
                                      - string
                                      - 'null'
                                      description: Leaf at app.ext.appdata
                      next_cursor:
                        type:
                        - string
                        - 'null'
                        description: Opaque cursor for the next page. Pass it back as a query parameter on endpoints that support pagination. Present only when the upstream reports more results.
                      total:
                        type:
                        - integer
                        - 'null'
                        description: Total number of matching results, when the upstream provides a count. Omitted otherwise.
                      dropped:
                        type: integer
                        description: Number of upstream list items dropped because they could not be repaired to the endpoint schema. Valid list responses include 0.
                      _warnings:
                        type: array
                        description: 'Non-fatal notices about this response (field-map drift, clamped computed values). Advisory only: its presence never means the request failed. Omitted entirely when there is nothing to report, so treat absent as ''no warnings''.'
                        items:
                          type: string
                          description: One advisory notice.
                    required:
                    - dropped
                  credits_used:
                    type: integer
                    description: Number of credits consumed
                  credits_remaining:
                    type:
                    - integer
                    - 'null'
                    description: Current account balance. Null only when an idempotency replay succeeds but its transient balance lookup fails.
                  request_id:
                    type: string
                    description: Unique request identifier for support
                  cached:
                    type: boolean
                    description: Whether the response was served from cache
                  idempotent_replay:
                    type: boolean
                    description: True only when this response is an idempotency replay
                  pagination:
                    type: object
                    description: Cursor state for this page. Present on every list response.
                    properties:
                      next_cursor:
                        type:
                        - string
                        - 'null'
                        description: Opaque token to send back as `cursor` for the next page, or null at end-of-list. Pass it back verbatim; never decode or trim it.
                      has_more:
                        type: boolean
                        description: Explicit stop signal. Prefer this over inspecting next_cursor or comparing against total.
                      page_size:
                        type: integer
                        description: Number of items in THIS page.
                    required:
                    - next_cursor
                    - has_more
                    - page_size
                required:
                - success
                - platform
                - endpoint
                - data
                - credits_used
                - credits_remaining
                - request_id
                - cached
                - pagination
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '402':
          $ref: '#/components/responses/Error402'
        '404':
          $ref: '#/components/responses/Error404'
        '405':
          $ref: '#/components/responses/Error405'
        '409':
          $ref: '#/components/responses/Error409'
        '413':
          $ref: '#/components/responses/Error413'
        '422':
          $ref: '#/components/responses/Error422'
        '429':
          $ref: '#/components/responses/Error429'
        '500':
          $ref: '#/components/responses/Error500'
        '502':
          $ref: '#/components/responses/Error502'
        '503':
          $ref: '#/components/responses/Error503'
  /google_play/search-suggestions:
    get:
      summary: Get Google Play search suggestions
      description: 'Returns Google Play''s search autocomplete suggestions for a keyword stem: the same terms the store''s search box surfaces. The day Play starts autocompleting a phrase, real demand exists; poll a stem daily and diff to catch rising app keywords early. Each item is `{ term, priority }` ranked by Play''s own order (Play exposes no numeric score). Returns a list under `items`.'
      tags:
      - google_play
      operationId: get_google_play_search_suggestions
      security:
      - ApiKeyAuth: []
      x-credit-tier: standard
      x-credit-cost: 1
      parameters:
      - name: query
        in: query
        required: true
        description: Partial search keyword to autocomplete (e.g. 'reverse').
        schema:
          type: string
      - name: country
        in: query
        required: false
        description: ISO 3166-1 alpha-2 storefront country code. Defaults to 'us'.
        schema:
          type: string
      - name: language
        in: query
        required: false
        description: ISO 639-1 language code. Defaults to 'en'.
        schema:
          type: string
      - name: Cache-Control
        in: header
        required: false
        description: Send `no-cache` to bypass the response cache and force a live fetch. Billed at the normal endpoint cost; the fresh result is written back to cache for the next caller. Only the `no-cache` directive triggers this. See the Response Schema guide for details.
        schema:
          type: string
      - name: Idempotency-Key
        in: header
        required: false
        description: 'Optional UUID that makes the request safely retriable. A replay keeps the cached payload immutable except for billing metadata: `credits_used` becomes 0, `idempotent_replay` becomes true, and `credits_remaining` is refreshed to the current balance. A known current balance appears in both the body and `X-Credits-Remaining` header; no balance row resolves to 0. On a transient lookup failure, body `credits_remaining` is null and `X-Credits-Remaining` is omitted. Scoped per account with a 24-hour TTL.'
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          headers:
            X-Credits-Used:
              description: Net credits charged for this response. Idempotency replays report 0.
              schema:
                type: integer
                minimum: 0
            X-Credits-Remaining:
              description: Current balance when known. On an idempotency replay, this header is omitted when the balance lookup fails; body `credits_remaining` is null instead.
              schema:
                type: integer
                minimum: 0
            X-Idempotent-Replay:
              description: Present with value `true` only when this response replays a settled idempotency record.
              schema:
                type: string
                enum:
                - 'true'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Whether the request succeeded
                  platform:
                    type: string
                    description: Platform name
                  endpoint:
                    type: string
                    description: API endpoint path
                  data:
                    type: object
                    description: Platform-specific response data
                    properties:
                      items:
                        type: array
                        description: Array of search result objects
                        items:
                          type: object
                          description: Search result item
                      next_cursor:
                        type:
                        - string
                        - 'null'
                        description: Opaque cursor for the next page. Pass it back as a query parameter on endpoints that support pagination. Present only when the upstream reports more results.
                      total:
                        type:
                        - integer
                        - 'null'
                        description: Total number of matching results, when the upstream provides a count. Omitted otherwise.
                      dropped:
                        type: integer
                        description: Number of upstream list items dropped because they could not be repaired to the endpoint schema. Valid list responses include 0.
                      _warnings:
                        type: array
                        description: 'Non-fatal notices about this response (field-map drift, clamped computed values). Advisory only: its presence never means the request failed. Omitted entirely when there is nothing to report, so treat absent as ''no warnings''.'
                        items:
                          type: string
                          description: One advisory notice.
                    required:
                    - dropped
                  credits_used:
                    type: integer
                    description: Number of credits consumed
                  credits_remaining:
                    type:
                    - integer
                    - 'null'
                    description: Current account balance. Null only when an idempotency replay succeeds but its transient balance lookup fails.
                  request_id:
                    type: string
                    description: Unique request identifier for support
                  cached:
                    type: boolean
                    description: Whether the response was served from cache
                  idempotent_replay:
                    type: boolean
                    description: True only when this response is an idempotency replay
                  pagination:
                    type: object
                    description: Cursor state for this page. Present on every list response.
                    properties:
                      next_cursor:
                        type:
                        - string
                        - 'null'
                        description: Opaque token to send back as `cursor` for the next page, or null at end-of-list. Pass it back verbatim; never decode or trim it.
                      has_more:
                        type: boolean
                        description: Explicit stop signal. Prefer this over inspecting next_cursor or comparing against total.
                      page_size:
                        type: integer
                        description: Number of items in THIS page.
                    required:
                    - next_cursor
                    - has_more
                    - page_size
                required:
                - success
                - platform
                - endpoint
                - data
                - credits_used
                - credits_remaining
                - request_id
                - cached
                - pagination
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '402':
          $ref: '#/components/responses/Error402'
        '404':
          $ref: '#/components/responses/Error404'
        '405':
          $ref: '#/components/responses/Error405'
        '409':
          $ref: '#/components/responses/Error409'
        '413':
          $ref: '#/components/responses/Error413'
        '422':
          $ref: '#/components/responses/Error422'
        '429':
          $ref: '#/components/responses/Error429'
        '500':
          $ref: '#/components/responses/Error500'
        '502':
          $ref: '#/components/responses/Error502'
        '503':
          $ref: '#/components/responses/Error503'
  /google_play/app-info:
    get:
      summary: Get full Google Play app details
      description: 'Returns the full canonical `App` record for one Google Play app keyed by its package name (`app_id`): title, description, developer block (incl. email/address/website), rating, price, install count + display (''1,000,000,000+''), version, size, screenshots, genres, chart tags, similar apps, and update date. The `app.store` field is always "google_play"; Apple-only leaves (advisories, languages) are null. Get the `app_id` from /v1/google_play/app-search. Sourced from DataForSEO''s task-based App Data API.'
      tags:
      - google_play
      operationId: get_google_play_app_info
      security:
      - ApiKeyAuth: []
      x-credit-tier: advanced
      x-credit-cost: 5
      parameters:
      - name: app_id
        in: query
        required: true
        description: Google Play package name (e.g. 'com.spotify.music'), from app-search.
        schema:
          type: string
      - name: country
        in: query
        required: false
        description: Storefront country as an ISO code ('US'), a full name, or a numeric code. Defaults to the US.
        schema:
          type: string
      - name: language
        in: query
        required: false
        description: Language code (e.g. 'en'). Defaults to 'en'.
        schema:
          type: string
      - name: Cache-Control
        in: header
        required: false
        description: Send `no-cache` to bypass the response cache and force a live fetch. Billed at the normal endpoint cost; the fresh result is written back to cache for the next caller. Only the `no-cache` directive triggers this. See the Response Schema guide for details.
        schema:
          type: string
      - name: Idempotency-Key
        in: header
        required: false
        description: 'Optional UUID that makes the request safely retriable. A replay keeps the cached payload immutable except for billing metadata: `credits_used` becomes 0, `idempotent_replay` becomes true, and `credits_remaining` is refreshed to the current balance. A known current balance appears in both the body and `X-Credits-Remaining` header; no balance row resolves to 0. On a transient lookup failure, body `credits_remaining` is null and `X-Credits-Remaining` is omitted. Scoped per account with a 24-hour TTL.'
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          headers:
            X-Credits-Used:
              description: Net credits charged for this response. Idempotency replays report 0.
              schema:
                type: integer
                minimum: 0
            X-Credits-Remaining:
              description: Current balance when known. On an idempotency replay, this header is omitted when the balance lookup fails; body `credits_remaining` is null instead.
              schema:
                type: integer
                minimum: 0
            X-Idempotent-Replay:
              description: Present with value `true` only when this response replays a settled idempotency record.
              schema:
                type: string
                enum:
                - 'true'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Whether the request succeeded
                  platform:
                    type: string
                    description: Platform name
                  endpoint:
                    type: string
                    description: API endpoint path
                  data:
                    type: object
                    description: Platform-specific response data
                    properties:
                      id:
                        type: string
                        description: Store app ID (Google Play package name / App Store numeric id)
                      store:
                        type: string
                        description: App marketplace ("google_play" or "app_store")
                      url:
                        type:
                        - string
                        - 'null'
                        description: String at app.url
                      title:
                        type:
                        - string
                        - 'null'
                        description: App title
                      icon:
                        type:
                        - string
                        - 'null'
                        description: String at app.icon
                      description:
                        type:
                        - string
                        - 'null'
                        description: String at app.description
                      developer:
                        type: object
                        description: Developer block (name, id, url; email/address for Google)
                        properties:
                          id:
                            type:
                            - string
                            - 'null'
                            description: String at app.developer.id
                          name:
                            type:
                            - string
                            - 'null'
                            description: String at app.developer.name
                          url:
                            type:
                            - string
                            - 'null'
                            description: String at app.developer.url
                          email:
                            type:
                            - string
                            - 'null'
                            description: String at app.developer.email
                          address:
                            type:
                            - string
                            - 'null'
                            description: String at app.developer.address
                          website:
                            type:
                            - string
                            - 'null'
                            description: String at app.developer.website
                      rating:
                        type: object
                        description: Aggregate rating (value, max, number of ratings)
                        properties:
                          value:
                            type:
                            - integer
                            - 'null'
                            description: Numeric at app.rating.value
                          max:
                            type:
                            - integer
                            - 'null'
                            description: Numeric at app.rating.max
                          count:
                            type:
                            - integer
                            - 'null'
                            description: Numeric at app.rating.count
                      price:
                        type: object
                        description: Price block (current, original, currency, is_free, displayed)
                        properties:
                          current:
                            type:
                            - integer
                            - 'null'
                            description: Numeric at app.price.current
                          original:
                            type:
                            - integer
                            - 'null'
                            description: Numeric at app.price.original
                          currency:
                            type:
                            - string
                            - 'null'
                            description: String at app.price.currency
                          is_free:
                            type:
                            - boolean
                            - 'null'
                            description: Boolean at app.price.is_free
                          displayed:
                            type:
                            - string
                            - 'null'
                            description: String at app.price.displayed
                      reviews_count:
                        type:
                        - integer
                        - 'null'
                        description: Numeric at app.reviews_count
                      category:
                        type:
                        - string
                        - 'null'
                        description: String at app.category
                      categories:
                        type:
                        - array
                        - 'null'
                        description: Array at app.categories
                        items:
                          type: string
                          description: String at app.categories
                      installs:
                        type:
                        - object
                        - 'null'
                        description: 'Install signal (Google only): { display "1,000,000,000+", count }; null on Apple'
                        properties:
                          display:
                            type:
                            - string
                            - 'null'
                            description: String at app.installs.display
                          count:
                            type:
                            - integer
                            - 'null'
                            description: Numeric at app.installs.count
                      version:
                        type:
                        - string
                        - 'null'
                        description: String at app.version
                      minimum_os_version:
                        type:
                        - string
                        - 'null'
                        description: String at app.minimum_os_version
                      size:
                        type:
                        - string
                        - 'null'
                        description: String at app.size
                      released_at:
                        type:
                        - string
                        - integer
                        - 'null'
                        description: 'Union: string | integer | null'
                      updated_at:
                        type:
                        - string
                        - integer
                        - 'null'
                        description: 'Union: string | integer | null'
                      update_notes:
                        type:
                        - string
                        - 'null'
                        description: String at app.update_notes
                      image_urls:
                        type:
                        - array
                        - 'null'
                        description: Screenshot URLs
                        items:
                          type: string
                          description: Screenshot URLs
                      video_urls:
                        type:
                        - array
                        - 'null'
                        description: Array at app.video_urls
                        items:
                          type: string
                          description: String at app.video_urls
                      languages:
                        type:
                        - array
                        - 'null'
                        description: Array at app.languages
                        items:
                          type: string
                          description: String at app.languages
                      advisories:
                        type:
                        - array
                        - 'null'
                        description: Apple age/content advisories (null on Google)
                        items:
                          type: string
                          description: Apple age/content advisories (null on Google)
                      genres:
                        type:
                        - array
                        - 'null'
                        description: Google Play genres (null on Apple)
                        items:
                          type: string
                          description: Google Play genres (null on Apple)
                      tags:
                        type:
                        - array
                        - 'null'
                        description: Array at app.tags
                        items:
                          type: string
                          description: String at app.tags
                      similar_apps:
                        type:
                        - array
                        - 'null'
                        description: Array at app.similar_apps
                        items:
                          type: object
                          description: 'Nested object: app.similar_apps'
                          properties:
                            id:
                              type:
                              - string
                              - 'null'
                              description: String at app.similar_apps.id
                            title:
                              type:
                              - string
                              - 'null'
                              description: String at app.similar_apps.title
                            url:
                              type:
                              - string
                              - 'null'
                              description: String at app.similar_apps.url
                      more_by_developer:
                        type:
                        - array
                        - 'null'
                        description: Array at app.more_by_developer
                        items:
                          type: object
                          description: 'Nested object: app.more_by_developer'
                          properties:
                            id:
                              type:
                              - string
                              - 'null'
                              description: String at app.more_by_developer.id
                            title:
                              type:
                              - string
                              - 'null'
                              description: String at app.more_by_developer.title
                            url:
                              type:
                              - string
                              - 'null'
                              description: String at app.more_by_developer.url
                      ext:
                        type:
                        - object
                        - 'null'
                        description: 'Nested object: app.ext'
                        properties:
                          appdata:
                            type:
                            - string
                            - 'null'
                            description: Leaf at app.ext.appdata
                      _warnings:
                        type: array
                        description: 'Non-fatal notices about this response (field-map drift, clamped computed values). Advisory only: its presence never means the request failed. Omitted entirely when there is nothing to report, so treat absent as ''no warnings''.'
                        items:
                          type: string
                          description: One advisory notice.
                  credits_used:
                    type: integer
                    description: Number of credits consumed
                  credits_remaining:
                    type:
                    - integer
                    - 'null'
                    description: Current account balance. Null only when an idempotency replay succeeds but its transient balance lookup fails.
                  request_id:
                    type: string
                    description: Unique request identifier for support
                  cached:
                    type: boolean
                    description: Whether the response was served from cache
                  idempotent_replay:
                    type: boolean
                    description: True only when this response is an idempotency replay
                required:
                - success
                - platform
                - endpoint
                - data
                - credits_used
                - credits_remaining
                - request_id
                - cached
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '402':
          $ref: '#/components/responses/Error402'
        '404':
          $ref: '#/components/responses/Error404'
        '405':
          $ref: '#/components/responses/Error405'
        '409':
          $ref: '#/components/responses/Error409'
        '413':
          $ref: '#/components/responses/Error413'
        '422':
          $ref: '#/components/responses/Error422'
        '429':
          $ref: '#/components/responses/Error429'
        '500':
          $ref: '#/components/responses/Error500'
        '502':
          $ref: '#/components/responses/Error502'
        '503':
          $ref: '#/components/responses/Error503'
  /google_play/app-reviews:
    get:
      summary: Get Google Play reviews for an app
      description: 'Returns a unified ReviewList of Google Play user reviews for an app, keyed by its package name (`app_id` on every review''s `entity_id`). Each review carries the star rating, full text, reviewer name + avatar, helpful-vote count, developer `responses[]` (reply text + date), and publish date: on the SAME canonical `Review` shape used by Amazon, Google Shopping, and Trustpilot. Google reviews have no title (always null). `depth` returns reviews in batches of 150 (max 600). Sourced from DataForSEO''s task-based App Data API.'
      tags:
      - google_play
      operationId: get_google_play_app_reviews
      security:
      - ApiKeyAuth: []
      x-credit-tier: advanced
      x-credit-cost: 5
      parameters:
      - name: app_id
        in: query
        required: true
        description: Google Play package name (e.g. 'com.spotify.music'), from app-search.
        schema:
          type: string
      - name: country
        in: query
        required: false
        description: Storefront country as an ISO code ('US'), a full name, or a numeric code. Defaults to the US.
        schema:
          type: string
      - name: language
        in: query
        required: false
        description: Language code (e.g. 'en'). Defaults to 'en'.
        schema:
          type: string
      - name: depth
        in: query
        required: false
        description: Number of reviews to retrieve (default 150, batches of 150, max 600).
        schema:
          type: integer
      - name: sort_by
        in: query
        required: false
        description: 'Review ordering: `newest` (default) or `most_relevant`.'
        schema:
          type: string
          enum:
          - newest
          - most_relevant
      - name: rating
        in: query
        required: false
        description: Filter to a single star rating (1-5).
        schema:
          type: integer
      - name: Cache-Control
        in: header
        required: false
        description: Send `no-cache` to bypass the response cache and force a live fetch. Billed at the normal endpoint cost; the fresh result is written back to cache for the next caller. Only the `no-cache` directive triggers this. See the Response Schema guide for details.
        schema:
          type: string
      - name: Idempotency-Key
        in: header
        required: false
        description: 'Optional UUID that makes the request safely retriable. A replay keeps the cached payload immutable except for billing metadata: `credits_used` becomes 0, `idempotent_replay` becomes true, and `credits_remaining` is refreshed to the current balance. A known current balance appears in both the body and `X-Credits-Remaining` header; no balance row resolves to 0. On a transient lookup failure, body `credits_remaining` is null and `X-Credits-Remaining` is omitted. Scoped per account with a 24-hour TTL.'
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          headers:
            X-Credits-Used:
              description: Net credits charged for this response. Idempotency replays report 0.
              schema:
                type: integer
                minimum: 0
            X-Credits-Remaining:
              description: Current balance when known. On an idempotency replay, this header is omitted when the balance lookup fails; body `credits_remaining` is null instead.
              schema:
                type: integer
                minimum: 0
            X-Idempotent-Replay:
              description: Present with value `true` only when this response replays a settled idempotency record.
              schema:
                type: string
                enum:
                - 'true'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Whether the request succeeded
                  platform:
                    type: string
                    description: Platform name
                  endpoint:
                    type: string
                    description: API endpoint path
                  data:
                    type: object
                    description: Platform-specific response data
                    properties:
                      items:
                        type: array
                        description: Array of canonical review wrappers ({ review })
                        items:
                          type: object
                          description: Canonical review wrapper
                          properties:
                            review:
                              type: object
                              description: Canonical Review object (shared across commerce platforms)
                              properties:
                                id:
                                  type: string
                                  description: Review ID (parsed from the review URL when not first-class)
                                entity_id:
                                  type:
                                  - string
                                  - 'null'
                                  description: ID of the reviewed entity (e.g. the Amazon ASIN)
                                url:
                                  type:
                                  - string
                                  - 'null'
                                  description: String at review.url
                                title:
                                  type:
                                  - string
                                  - 'null'
                                  description: String at review.title
                                text:
                                  type:
                                  - string
                                  - 'null'
                                  description: Full review body
                                rating:
                                  type: object
                                  description: Star rating (value + max)
                                  properties:
                                    value:
                                      type:
                                      - integer
                                      - 'null'
                                      description: Numeric at review.rating.value
                                    max:
                                      type:
                                      - integer
                                      - 'null'
                                      description: Numeric at review.rating.max
                                author:
                                  type: object
                                  description: 'Nested object: review.author'
                                  properties:
                                    name:
                                      type:
                                      - string
                                      - 'null'
                                      description: String at review.author.name
                                    avatar_url:
                                      type:
                                      - string
                                      - 'null'
                                      description: String at review.author.avatar_url
                                    url:
                                      type:
                                      - string
                                      - 'null'
                                      description: String at review.author.url
                                    location:
                                      type:
                                      - string
                                      - 'null'
                                      description: String at review.author.location
                                    reviews_count:
                                      type:
                                      - integer
                                      - 'null'
                                      description: Numeric at review.author.reviews_count
                                helpful_votes:
                                  type:
                                  - integer
                                  - 'null'
                                  description: Helpful-vote count (Amazon; null elsewhere)
                                verified:
                                  type:
                                  - boolean
                                  - 'null'
                                  description: Verified-purchase flag (Amazon; null elsewhere)
                                source:
                                  type:
                                  - string
                                  - 'null'
                                  description: String at review.source
                                language:
                                  type:
                                  - string
                                  - 'null'
                                  description: String at review.language
                                original_language:
                                  type:
                                  - string
                                  - 'null'
                                  description: String at review.original_language
                                translated:
                                  type:
                                  - boolean
                                  - 'null'
                                  description: Boolean at review.translated
                                images:
                                  type:
                                  - array
                                  - 'null'
                                  description: Array at review.images
                                  items:
                                    type: string
                                    description: String at review.images
                                responses:
                                  type:
                                  - array
                                  - 'null'
                                  description: Array at review.responses
                                  items:
                                    type: object
                                    description: 'Nested object: review.responses'
                                    properties:
                                      id:
                                        type:
                                        - string
                                        - 'null'
                                        description: String at review.responses.id
                                      author:
                                        type:
                                        - string
                                        - 'null'
                                        description: String at review.responses.author
                                      text:
                                        type:
                                        - string
                                        - 'null'
                                        description: String at review.responses.text
                                      published_at:
                                        type:
                                        - string
                                        - integer
                                        - 'null'
                                        description: 'Union: string | integer | null'
                                published_at:
                                  type:
                                  - string
                                  - integer
                                  - 'null'
                                  description: 'Union: string | integer | null'
                                ext:
                                  type:
                                  - object
                                  - 'null'
                                  description: 'Nested object: review.ext'
                                  properties:
                                    appdata:
                                      type:
                                      - string
                                      - 'null'
                                      description: Leaf at review.ext.appdata
                                    tiktokshop:
                                      type:
                                      - string
                                      - 'null'
                                      description: Leaf at review.ext.tiktokshop
                      next_cursor:
                        type:
                        - string
                        - 'null'
                        description: Opaque cursor for the next page. Pass it back as a query parameter on endpoints that support pagination. Present only when the upstream reports more results.
                      total:
                        type:
                        - integer
                        - 'null'
                        description: Total number of matching results, when the upstream provides a count. Omitted otherwise.
                      dropped:
                        type: integer
                        description: Number of upstream list items dropped because they could not be repaired to the endpoint schema. Valid list responses include 0.
                      _warnings:
                        type: array
                        description: 'Non-fatal notices about this response (field-map drift, clamped computed values). Advisory only: its presence never means the request failed. Omitted entirely when there is nothing to report, so treat absent as ''no warnings''.'
                        items:
                          type: string
                          description: One advisory notice.
                    required:
                    - dropped
                  credits_used:
                    type: integer
                    description: Number of credits consumed
                  credits_remaining:
                    type:
                    - integer
                    - 'null'
                    description: Current account balance. Null only when an idempotency replay succeeds but its transient balance lookup fails.
                  request_id:
                    type: string
                    description: Unique request identifier for support
                  cached:
                    type: boolean
                    description: Whether the response was served from cache
                  idempotent_replay:
                    type: boolean
                    description: True only when this response is an idempotency replay
                  pagination:
                    type: object
                    description: Cursor state for this page. Present on every list response.
                    properties:
                      next_cursor:
                        type:
                        - string
                        - 'null'
                        description: Opaque token to send back as `cursor` for the next page, or null at end-of-list. Pass it back verbatim; never decode or trim it.
                      has_more:
                        type: boolean
                        description: Explicit stop signal. Prefer this over inspecting next_cursor or comparing against total.
                      page_size:
                        type: integer
                        description: Number of items in THIS page.
                    required:
                    - next_cursor
                    - has_more
                    - page_size
                required:
                - success
                - platform
                - endpoint
                - data
                - credits_used
                - credits_remaining
                - request_id
                - cached
                - pagination
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '402':
          $ref: '#/components/responses/Error402'
        '404':
          $ref: '#/components/responses/Error404'
        '405':
          $ref: '#/components/responses/Error405'
        '409':
          $ref: '#/components/responses/Error409'
        '413':
          $ref: '#/components/responses/Error413'
        '422':
          $ref: '#/components/responses/Error422'
        '429':
          $ref: '#/components/responses/Error429'
        '500':
          $ref: '#/components/responses/Error500'
        '502':
          $ref: '#/components/responses/Error502'
        '503':
          $ref: '#/components/responses/Error503'
  /google_play/app-list:
    get:
      summary: Get a Google Play store chart
      description: Returns a unified AppList for a Google Play store chart (top free, top paid, top grossing, movers & shakers, etc.), optionally scoped to a category. Each item is the same canonical `App` shape as app-search. Use it to track ranking movements or build a category leaderboard. Sourced from DataForSEO's task-based App Data API.
      tags:
      - google_play
      operationId: get_google_play_app_list
      security:
      - ApiKeyAuth: []
      x-credit-tier: advanced
      x-credit-cost: 5
      parameters:
      - name: app_collection
        in: query
        required: true
        description: 'Chart to retrieve: topselling_free, topselling_paid, topgrossing, movers_shakers, topselling_new_free, topselling_new_paid.'
        schema:
          type: string
      - name: app_category
        in: query
        required: false
        description: Optional Google Play category to scope the chart (e.g. 'photography', 'game_puzzle').
        schema:
          type: string
          enum:
          - art_and_design
          - auto_and_vehicles
          - beauty
          - books_and_reference
          - business
          - comics
          - communication
          - dating
          - education
          - entertainment
          - events
          - finance
          - food_and_drink
          - health_and_fitness
          - house_and_home
          - libraries_and_demo
          - lifestyle
          - maps_and_navigation
          - medical
          - music_and_audio
          - news_and_magazines
          - parenting
          - personalization
          - photography
          - productivity
          - shopping
          - social
          - sports
          - tools
          - travel_and_local
          - video_players
          - android_wear
          - watch_face
          - weather
          - game
          - game_action
          - game_adventure
          - game_arcade
          - game_board
          - game_card
          - game_casino
          - game_casual
          - game_educational
          - game_music
          - game_puzzle
          - game_racing
          - game_role_playing
          - game_simulation
          - game_sports
          - game_strategy
          - game_trivia
          - game_word
          - family
      - name: country
        in: query
        required: false
        description: Storefront country as an ISO code ('US'), a full name, or a numeric code. Defaults to the US.
        schema:
          type: string
      - name: language
        in: query
        required: false
        description: Language code (e.g. 'en'). Defaults to 'en'.
        schema:
          type: string
      - name: depth
        in: query
        required: false
        description: Number of apps to retrieve (default 100, max 500).
        schema:
          type: integer
      - name: Cache-Control
        in: header
        required: false
        description: Send `no-cache` to bypass the response cache and force a live fetch. Billed at the normal endpoint cost; the fresh result is written back to cache for the next caller. Only the `no-cache` directive triggers this. See the Response Schema guide for details.
        schema:
          type: string
      - name: Idempotency-Key
        in: header
        required: false
        description: 'Optional UUID that makes the request safely retriable. A replay keeps the cached payload immutable except for billing metadata: `credits_used` becomes 0, `idempotent_replay` becomes true, and `credits_remaining` is refreshed to the current balance. A known current balance appears in both the body and `X-Credits-Remaining` header; no balance row resolves to 0. On a transient lookup failure, body `credits_remaining` is null and `X-Credits-Remaining` is omitted. Scoped per account with a 24-hour TTL.'
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          headers:
            X-Credits-Used:
              description: Net credits charged for this response. Idempotency replays report 0.
              schema:
                type: integer
                minimum: 0
            X-Credits-Remaining:
              description: Current balance when known. On an idempotency replay, this header is omitted when the balance lookup fails; body `credits_remaining` is null instead.
              schema:
                type: integer
                minimum: 0
            X-Idempotent-Replay:
              description: Present with value `true` only when this response replays a settled idempotency record.
              schema:
                type: string
                enum:
                - 'true'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Whether the request succeeded
                  platform:
                    type: string
                    description: Platform name
                  endpoint:
                    type: string
                    description: API endpoint path
                  data:
                    type: object
                    description: Platform-specific response data
                    properties:
                      items:
                        type: array
                        description: Array of canonical app wrappers ({ app })
                        items:
                          type: object
                          description: Canonical app wrapper
                          properties:
                            app:
                              type: object
                              description: Canonical App object (unified across app marketplaces)
                              properties:
                                id:
                                  type: string
                                  description: Store app ID (Google Play package name / App Store numeric id)
                                store:
                                  type: string
                                  description: App marketplace ("google_play" or "app_store")
                                url:
                                  type:
                                  - string
                                  - 'null'
                                  description: String at app.url
                                title:
                                  type:
                                  - string
                                  - 'null'
                                  description: App title
                                icon:
                                  type:
                                  - string
                                  - 'null'
                                  description: String at app.icon
                                description:
                                  type:
                                  - string
                                  - 'null'
                                  description: String at app.description
                                developer:
                                  type: object
                                  description: Developer block (name, id, url; email/address for Google)
                                  properties:
                                    id:
                                      type:
                                      - string
                                      - 'null'
                                      description: String at app.developer.id
                                    name:
                                      type:
                                      - string
                                      - 'null'
                                      description: String at app.developer.name
                                    url:
                                      type:
                                      - string
                                      - 'null'
                                      description: String at app.developer.url
                                    email:
                                      type:
                                      - string
                                      - 'null'
                                      description: String at app.developer.email
                                    address:
                                      type:
                                      - string
                                      - 'null'
                                      description: String at app.developer.address
                                    website:
                                      type:
                                      - string
                                      - 'null'
                                      description: String at app.developer.website
                                rating:
                                  type: object
                                  description: Aggregate rating (value, max, number of ratings)
                                  properties:
                                    value:
                                      type:
                                      - integer
                                      - 'null'
                                      description: Numeric at app.rating.value
                                    max:
                                      type:
                                      - integer
                                      - 'null'
                                      description: Numeric at app.rating.max
                                    count:
                                      type:
                                      - integer
                                      - 'null'
                                      description: Numeric at app.rating.count
                                price:
                                  type: object
                                  description: Price block (current, original, currency, is_free, displayed)
                                  properties:
                                    current:
                                      type:
                                      - integer
                                      - 'null'
                                      description: Numeric at app.price.current
                                    original:
                                      type:
                                      - integer
                                      - 'null'
                                      description: Numeric at app.price.original
                                    currency:
                                      type:
                                      - string
                                      - 'null'
                                      description: String at app.price.currency
                                    is_free:
                                      type:
                                      - boolean
                                      - 'null'
                                      description: Boolean at app.price.is_free
                                    displayed:
                                      type:
                                      - string
                                      - 'null'
                                      description: String at app.price.displayed
                                reviews_count:
                                  type:
                                  - integer
                                  - 'null'
                                  description: Numeric at app.reviews_count
                                category:
                                  type:
                                  - string
                                  - 'null'
                                  description: String at app.category
                                categories:
                                  type:
                                  - array
                                  - 'null'
                                  description: Array at app.categories
                                  items:
                                    type: string
                                    description: String at app.categories
                                installs:
                                  type:
                                  - object
                                  - 'null'
                                  description: 'Install signal (Google only): { display "1,000,000,000+", count }; null on Apple'
                                  properties:
                                    display:
                                      type:
                                      - string
                                      - 'null'
                                      description: String at app.installs.display
                                    count:
                                      type:
                                      - integer
                                      - 'null'
                                      description: Numeric at app.installs.count
                                version:
                                  type:
                                  - string
                                  - 'null'
                                  description: String at app.version
                                minimum_os_version:
                                  type:
                                  - string
                                  - 'null'
                                  description: String at app.minimum_os_version
                                size:
                                  type:
                                  - string
                                  - 'null'
                                  description: String at app.size
                                released_at:
                                  type:
                                  - string
                                  - integer
                                  - 'null'
                                  description: 'Union: string | integer | null'
                                updated_at:
                                  type:
                                  - string
                                  - integer
                                  - 'null'
                                  description: 'Union: string | integer | null'
                                update_notes:
                                  type:
                                  - string
                                  - 'null'
                                  description: String at app.update_notes
                                image_urls:
                                  type:
                                  - array
                                  - 'null'
                                  description: Screenshot URLs
                                  items:
                                    type: string
                                    description: Screenshot URLs
                                video_urls:
                                  type:
                                  - array
                                  - 'null'
                                  description: Array at app.video_urls
                                  items:
                                    type: string
                                    description: String at app.video_urls
                                languages:
                                  type:
                                  - array
                                  - 'null'
                                  description: Array at app.languages
                                  items:
                                    type: string
                                    description: String at app.languages
                                advisories:
                                  type:
                                  - array
                                  - 'null'
                                  description: Apple age/content advisories (null on Google)
                                  items:
                                    type: string
                                    description: Apple age/content advisories (null on Google)
                                genres:
                                  type:
                                  - array
                                  - 'null'
                                  description: Google Play genres (null on Apple)
                                  items:
                                    type: string
                                    description: Google Play genres (null on Apple)
                                tags:
                                  type:
                                  - array
                                  - 'null'
                                  description: Array at app.tags
                                  items:
                                    type: string
                                    description: String at app.tags
                                similar_apps:
                                  type:
                                  - array
                                  - 'null'
                                  description: Array at app.similar_apps
                                  items:
                                    type: object
                                    description: 'Nested object: app.similar_apps'
                                    properties:
                                      id:
                                        type:
                                        - string
                                        - 'null'
                                        description: String at app.similar_apps.id
                                      title:
                                        type:
                                        - string
                                        - 'null'
                                        description: String at app.similar_apps.title
                                      url:
                                        type:
                                        - string
                                        - 'null'
                                        description: String at app.similar_apps.url
                                more_by_developer:
                                  type:
                                  - array
                                  - 'null'
                                  description: Array at app.more_by_developer
                                  items:
                                    type: object
                                    description: 'Nested object: app.more_by_developer'
                                    properties:
                                      id:
                                        type:
                                        - string
                                        - 'null'
                                        description: String at app.more_by_developer.id
                                      title:
                                        type:
                                        - string
                                        - 'null'
                                        description: String at app.more_by_developer.title
                                      url:
                                        type:
                                        - string
                                        - 'null'
                                        description: String at app.more_by_developer.url
                                ext:
                                  type:
                                  - object
                                  - 'null'
                                  description: 'Nested object: app.ext'
                                  properties:
                                    appdata:
                                      type:
                                      - string
                                      - 'null'
                                      description: Leaf at app.ext.appdata
                      next_cursor:
                        type:
                        - string
                        - 'null'
                        description: Opaque cursor for the next page. Pass it back as a query parameter on endpoints that support pagination. Present only when the upstream reports more results.
                      total:
                        type:
                        - integer
                        - 'null'
                        description: Total number of matching results, when the upstream provides a count. Omitted otherwise.
                      dropped:
                        type: integer
                        description: Number of upstream list items dropped because they could not be repaired to the endpoint schema. Valid list responses include 0.
                      _warnings:
                        type: array
                        description: 'Non-fatal notices about this response (field-map drift, clamped computed values). Advisory only: its presence never means the request failed. Omitted entirely when there is nothing to report, so treat absent as ''no warnings''.'
                        items:
                          type: string
                          description: One advisory notice.
                    required:
                    - dropped
                  credits_used:
                    type: integer
                    description: Number of credits consumed
                  credits_remaining:
                    type:
                    - integer
                    - 'null'
                    description: Current account balance. Null only when an idempotency replay succeeds but its transient balance lookup fails.
                  request_id:
                    type: string
                    description: Unique request identifier for support
                  cached:
                    type: boolean
                    description: Whether the response was served from cache
                  idempotent_replay:
                    type: boolean
                    description: True only when this response is an idempotency replay
                  pagination:
                    type: object
                    description: Cursor state for this page. Present on every list response.
                    properties:
                      next_cursor:
                        type:
                        - string
                        - 'null'
                        description: Opaque token to send back as `cursor` for the next page, or null at end-of-list. Pass it back verbatim; never decode or trim it.
                      has_more:
                        type: boolean
                        description: Explicit stop signal. Prefer this over inspecting next_cursor or comparing against total.
                      page_size:
                        type: integer
                        description: Number of items in THIS page.
                    required:
                    - next_cursor
                    - has_more
                    - page_size
                required:
                - success
                - platform
                - endpoint
                - data
                - credits_used
                - credits_remaining
                - request_id
                - cached
                - pagination
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '402':
          $ref: '#/components/responses/Error402'
        '404':
          $ref: '#/components/responses/Error404'
        '405':
          $ref: '#/components/responses/Error405'
        '409':
          $ref: '#/components/responses/Error409'
        '413':
          $ref: '#/components/responses/Error413'
        '422':
          $ref: '#/components/responses/Error422'
        '429':
          $ref: '#/components/responses/Error429'
        '500':
          $ref: '#/components/responses/Error500'
        '502':
          $ref: '#/components/responses/Error502'
        '503':
          $ref: '#/components/responses/Error503'
  /google_play/app-listings-search:
    get:
      summary: Search the Google Play listings database (paginated)
      description: 'Searches DataForSEO''s real-time, filterable Google Play listings database by app title (and/or description) and returns a unified AppList. Unlike the store-chart endpoints this one is the ONE true paginator: page with `limit` (≤50) + `offset` (then `offset_token` for deeper) and read the platform-wide `total`. Premium-tier because the upstream bills per returned item. Sourced from DataForSEO''s synchronous live App Data database.'
      tags:
      - google_play
      operationId: get_google_play_app_listings_search
      security:
      - ApiKeyAuth: []
      x-credit-tier: premium
      x-credit-cost: 10
      parameters:
      - name: title
        in: query
        required: true
        description: App title to search for (e.g. 'photo editor').
        schema:
          type: string
      - name: description
        in: query
        required: false
        description: Optional app-description text to match.
        schema:
          type: string
      - name: limit
        in: query
        required: false
        description: Apps per page (1-50, default 20).
        schema:
          type: integer
      - name: offset
        in: query
        required: false
        description: Pagination offset (up to 10,000; use offset_token beyond).
        schema:
          type: integer
      - name: offset_token
        in: query
        required: false
        description: 'Opaque deep-pagination cursor from a prior response. Native upstream cursor param. Send the universal `cursor` instead: the API maps it to this name for you.'
        deprecated: true
        schema:
          type: string
      - name: filters
        in: query
        required: false
        description: Advanced DataForSEO filter expression as a JSON array.
        schema:
          type: string
      - name: country
        in: query
        required: false
        description: Storefront country as an ISO code ('US'), a full name, or a numeric code. Defaults to the US.
        schema:
          type: string
      - name: language
        in: query
        required: false
        description: Language code (e.g. 'en'). Defaults to 'en'.
        schema:
          type: string
      - name: cursor
        in: query
        required: false
        description: 'Universal pagination cursor. Send `pagination.next_cursor` from the previous response back verbatim: the API maps it to this endpoint''s native `offset_token` (cursor style). You never construct, decode, or look up a cursor. Omit it for page 1.'
        schema:
          type: string
      - name: Cache-Control
        in: header
        required: false
        description: Send `no-cache` to bypass the response cache and force a live fetch. Billed at the normal endpoint cost; the fresh result is written back to cache for the next caller. Only the `no-cache` directive triggers this. See the Response Schema guide for details.
        schema:
          type: string
      - name: Idempotency-Key
        in: header
        required: false
        description: 'Optional UUID that makes the request safely retriable. A replay keeps the cached payload immutable except for billing metadata: `credits_used` becomes 0, `idempotent_replay` becomes true, and `credits_remaining` is refreshed to the current balance. A known current balance appears in both the body and `X-Credits-Remaining` header; no balance row resolves to 0. On a transient lookup failure, body `credits_remaining` is null and `X-Credits-Remaining` is omitted. Scoped per account with a 24-hour TTL.'
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          headers:
            X-Credits-Used:
              description: Net credits charged for this response. Idempotency replays report 0.
              schema:
                type: integer
                minimum: 0
            X-Credits-Remaining:
              description: Current balance when known. On an idempotency replay, this header is omitted when the balance lookup fails; body `credits_remaining` is null instead.
              schema:
                type: integer
                minimum: 0
            X-Idempotent-Replay:
              description: Present with value `true` only when this response replays a settled idempotency record.
              schema:
                type: string
                enum:
                - 'true'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Whether the request succeeded
                  platform:
                    type: string
                    description: Platform name
                  endpoint:
                    type: string
                    description: API endpoint path
                  data:
                    type: object
                    description: Platform-specific response data
                    properties:
                      items:
                        type: array
                        description: Array of canonical app wrappers ({ app })
                        items:
                          type: object
                          description: Canonical app wrapper
                          properties:
                            app:
                              type: object
                              description: Canonical App object (unified across app marketplaces)
                              properties:
                                id:
                                  type: string
                                  description: Store app ID (Google Play package name / App Store numeric id)
                                store:
                                  type: string
                                  description: App marketplace ("google_play" or "app_store")
                                url:
                                  type:
                                  - string
                                  - 'null'
                                  description: String at app.url
                                title:
                                  type:
                                  - string
                                  - 'null'
                                  description: App title
                                icon:
                                  type:
                                  - string
                                  - 'null'
                                  description: String at app.icon
                                description:
                                  type:
                                  - string
                                  - 'null'
                                  description: String at app.description
                                developer:
                                  type: object
                                  description: Developer block (name, id, url; email/address for Google)
                                  properties:
                                    id:
                                      type:
                                      - string
                                      - 'null'
                                      description: String at app.developer.id
                                    name:
                                      type:
                                      - string
                                      - 'null'
[...]
